[2018-12-19 22:21] cbaxter713 commented on #246
@elevatebart any thoughts?

[2018-12-19 22:41] elevatebart commented on #246
Hey @cbaxter713,

I will try my best tofind out what is happening. On my project, I had to go and create a third configration file to load all the extra plugins, but I had no trouble loading the sass variables on their own.
I am no expert of nuxt. But I will take a first stab at it.

in your styleguide.config.js, you say
[code]
unfortunately styleguidist is a little stupid. It needs you to tell it

[2018-12-19 22:52] cbaxter713 commented on #246
@elevatebart thanks for the response.  I was basing the `vue-loader` -> `sass-loader` options setup on the `with-sass-loader` example in the project.  The `styleguide.config.js` in that project looks like this:

[code]

Anyways, I updated my `styleguide.config.js` per your recomendations:

[code]

...but still getting the same error about my component usage of scss variables not being defined.

[2018-12-20 09:33] jimmaaay opened #247 "[Feature Request] Add a config option to allow the sections to be transformed"
Hey, it'd be useful to have a config option which allows the sections passed to the React StyleGuide component to be transformed. This would then allow more customisation for how the documentation is shown.

basic example (this would be added to styleguide.config.js) :
[code]

If you want I can also provide another example, which is more related to the use case I would like. This would be where yo

[2018-12-20 11:14] rafaesc commented on #247
Hi @jimmaaay

you can use `styleguideComponents` option.

https://github.com/vue-styleguidist/vue-styleguidist/blob/master/docs/Configuration.md#styleguidecomponents

[2018-12-20 12:00] jimmaaay commented on #247
Hey @rafaesc

It doesn't look like it allows you to edit the StyleGuide component using that way currently.

https://github.com/vue-styleguidist/vue-styleguidist/blob/master/scripts/make-webpack-config.js#L177

[2018-12-20 16:05] rafaesc commented on #247
Well, you have to know that modifying Styleguide component can break the static page,for that reason it's filtered.

But you can access to component using `dangerouslyUpdateWebpackConfig` option

[2018-12-21 12:59] elevatebart commented on #246
Hello @cbaxter713 if you remove the variable and use another feature from scss, does it work? I would like to know if scss is applied on all your components.

[2018-12-21 13:14] elevatebart commented on #246
weirdly enough, I do not see a `loaders` option on the [vue-loader option reference](https://vue-loader.vuejs.org/options.html).
your webpackConfig should look something like this:
[code]

Hope this helps, because the Nuxt is not exposing what vsg needs per say.
It creates its own webpack config on the fly, whichwe cannot safel emulate.

Can you try and tell me if it works?
Thank you in advance

[2018-12-28 21:37] cbaxter713 commented on #246
@elevatebart that works!  Thanks so much for the help.  I had thought that the `vue-loader` handled the scss in `<style lang="scss">` blocks of vue components, but turns out the .scss test and sass-loader still handle that as you have figured out.

[2018-12-28 21:37] #246 closed

[2018-12-31 00:58] MiguelSavignano commented on #26
I think some component like Header or Footer it's useful render in individual page.

I't posible render a component in individual page with this trick.

styleguide.config.js
[code]

of course you need to create a static html with the bundle of vue page component.

[2019-01-01 14:13] johnwebbcole opened #249 "Error with new @vue/cli project: TypeError: Class constructor LRUCache cannot be invoked without 'new'"
After creating a project with `vue create` and installing vue-styleguideist via `vue add vue-styleguidist`, running or building the sytleguide throws the following error:

[code]

node version 10.15.0
npm version 6.4.1
vue version 3.2.2
vue-cli-plugin-styleguidist version 0.1.10

Steps to recreate:

[code]

I've tried different options on `vue create` including no babel, all throw the same error.

[2019-01-02 08:43] jimmaaay commented on #247
Ahh didn't think of that. Thanks! 🙂

[2019-01-02 08:43] #247 closed

[2019-01-04 09:45] #249 closed

[2019-01-05 00:12] cj commented on #196
@elevatebart I'm getting this error with the latest version: `"vue-docgen-api": "2.6.11"` and `"vue-styleguidist": "2.1.2"`

[code]

This is with the basic example installed with https://github.com/vue-styleguidist/vue-cli-plugin-styleguidist.

[2019-01-05 01:31] cj commented on #196
Looks like this is the cause https://github.com/vue-styleguidist/vue-docgen-api/pull/52/files#r245460928

[2019-01-08 18:27] pshendry opened #251 "Does not load in IE 11 due to syntax error"
[See minimum repro repository](https://github.com/pshendry/vue-styleguidist-ie11bug) (created using `vue create temp` and `vue add styleguidist`).

Run `npm run styleguide`, open the style guide in IE 11, and observe that it fails to load with a syntax error:

![image](https://user-images.githubusercontent.com/1829032/50850628-40057180-132f-11e9-848c-5a7386061cc4.png)

The line described in the co

[2019-01-08 19:52] elevatebart commented on #251
Thank you for this report.
I did not think of checking compatibility with IE 11 with the last releases.
You just made me think of a use case fro it:
- What if we want to use vsg to run compatibility tests of components.

I will look into it.

[2019-01-08 20:07] pshendry commented on #251
Thank you! My use case is that it is just so handy to develop using the "Examples" section of the docs, so it saves time if you can do simple cross-browser testing using the docs themselves.

On January 8, 2019 11:53:00 AM PST, "Barthélémy Ledoux" <notifications@github.com> wrote:

[2019-01-09 13:32] #243 closed

[2019-01-09 13:35] #173 closed

[2019-01-09 13:47] elevatebart commented on #222
Hello @fsblemos, Happy New Year,

I thought about your issue.
The only 2 kind of dependencies that vue styleguidist parses are [mixins](https://vuejs.org/v2/guide/mixins.html) and extends.
We can't parse all the dependencies of each component for performance and security reasons.

I think what you are trying to build is a [mixin](https://vuejs.org/v2/guide/mixins.html).
This would allow you to bui

[2019-01-09 13:47] #222 closed

[2019-01-09 14:18] elevatebart commented on #196
Just fixed it with @cj temporary fix
available in vsg build 2.1.3.

Probably a better fix next week.

[2019-01-09 14:18] #196 closed

[2019-01-09 23:21] elevatebart commented on #223
Hello @itpalert

Sorry for the late response, Haappy new year.
I will transfer this issue in vue-docgen-api. if you do not mind ;)

[2019-01-09 23:21] #223 closed

[2019-01-14 10:58] cswebdev commented on #117
its still very slow - the initial compiling and the first time open it in the browser.
with latest versions on a new created vue-cli3 setup with webpack 4.
We have a lot of components and some custom configs.

by the way: is there a reason why the complete documentation is rendered initially on content area? it would be much better for client performance if only the information i want to see is re

[2019-01-14 15:18] elevatebart commented on #251
Hi @pshendry,

The solution I found is a little bit more hands on that I would have liked. The issue you are facing with IE 11 is that babel does not compile any of the files in node_modules. And some modules chose to remain es6 compatible only. `buble`, used by react-styleguidist is one of those modules.

In order to fix your build you will have to track down those modules used by vsg and include

[2019-01-15 12:18] mob8607 commented on #195
Hi guys, I have the problem that <br> is not working but <br /> is. Could this be related to this issue?
My used version is 2.1.2

[2019-01-16 09:22] patric-eberle commented on #117
@cswebdev A workaround can be `sections` so you can split up your documentation for faster rendering. See https://github.com/vue-styleguidist/vue-styleguidist/blob/master/docs/Components.md#sections

But lazyloading would have a better impact I guess.

[2019-01-20 12:22] LeBenLeBen opened #252 "Unknown custom element even after explicit require"
I followed the docs on how to load components when `skipComponentsWithoutExample` is set to `true` in the config. I explicitly loaded my child component within `Grid.md` like this:

[code]

But Vue always throws the following warning:

Logging the imports return correct data. Also `Vue.options.components` return the availability of a `grid-item` element.

Am I doing something wrong or could there

[2019-01-21 20:02] elevatebart commented on #237
Hello @pepesenaris

Con you try again with vue-styleguidist 3.0 it should be working fine now

[2019-01-21 20:10] pepesenaris commented on #237
Thanks for the response @elevatebart. We are using `vue-styleguidist` in a couple of projects right now at work. Let me see when we find a space in the pipeline to test this and I'll get back to you. Thanks.

[2019-01-21 20:17] elevatebart commented on #226
@d1820 Would you please test again with vsg 3.0 ?
It should be working now ;)

[2019-01-21 21:36] elevatebart commented on #158
@vdcrea
We just released 3.0 and it should be way better now. Can you tell me if you still do not see your mixin?

[2019-01-21 21:45] elevatebart commented on #206
Hey @ljdz Can you try again using vsg 3.0, I believe this one is fixed now ;)

[2019-01-21 23:32] elevatebart commented on #147
Hello @entioentio , we are trying to clean up the bug pipe.
Can you tell me if you still reproduce with vsg 3.0. If you do, could you share the way you use those slots?

Thank you in advance

[2019-01-21 23:34] elevatebart commented on #142
@Infeligo we are trying to clean our bug pipe.
Can you try and see if the perf is better on 3.0 ? We made huge improvements (x20) to vue-docgen-api

[2019-01-21 23:37] elevatebart commented on #134
can you guys try it again with vue 3.0 ?
duplicate of #158

[2019-01-21 23:39] elevatebart commented on #98
I believe this one is done ;)

[2019-01-21 23:39] #98 closed

[2019-01-21 23:40] elevatebart commented on #117
version 3.0 is out and the parser is supercharged, can you please have a look at it ? Should make everybody's life better. I can check for better caching tools once I have your feedback ;)

[2019-01-21 23:48] elevatebart commented on #122
We could try using buble to compile it then try executing it in isolation and if it succeeds return the value.
[code]
@rafaesc what do you think?

[2019-01-21 23:52] elevatebart commented on #114
You can as well use the [vue-cli-plugin](vue-styleguidist/vue-cli-plugin-styleguidist).
Closing

[2019-01-21 23:52] #114 closed

[2019-01-22 00:20] elevatebart commented on #39
I like the idea, we could add an extra layer of validation as a loader on top of the vue-styleguidist.
It would probably be better to intgrate it inside the props.

something like
[code]

But I am not sure it should be inside of vsg. I would prefer for it to be a separate loader.
Transforming Yup rules into English would be painful work that could be done in the description.

Thoughts ?

[2019-01-22 00:21] elevatebart commented on #112
Is your error fixed with 3.0 ? or should I investigate more ?

[2019-01-22 00:50] elevatebart commented on #134
I was thinking of using Vue-cli-plugin-styleguidist

Bart Ledoux
Twitter: @bartledoux
Github: @elevatebart

[2019-01-22 22:59] d1820 commented on #226
unfortunately since v3 requires webpack 4 we can not move forward with the
update to even try it. That conversion for us is a bigger effort due to the
breaking changes moving from 3 to 4.  Updating the npm version for your new
version immediately failed.

Hopefully in the near future we can upgrade our project to WP4 and try the
style guide again.

Thanks

Dan Turco

On Mon, Jan 21, 2019 at 1:17 P

[2019-01-22 23:20] elevatebart commented on #226
Oh !!! Very sorry to hear that. I had to do that myself and it was not too simple.
Overall it took me a full day. If you guys need help with it I'd be happy to give it a hand.

I will close this issue for now.
If you have a problem with the new build please post a new issue.

[2019-01-22 23:20] #226 closed

[2019-01-24 14:31] JessicaSachs opened #259 "Multiple jsx/vue blocks in markdown files are ignored, only the first renders. Docs blocks work fine."
When using markdown files to render your examples, only the first jsx or vue block is rendered. The other ones are not rendered.

When using `<docs>` tags in SFC, all of the jsx and vue blocks are rendered.

Markdown files should be able to render multiple jsx/vue blocks.

[2019-01-24 23:57] elevatebart commented on #259
Hello @JessicaSachs , I can't seem to reproduce on simple cases would you mind sharing a quick .md file that fails ?
The basic example actually uses md files that have multiple snippets

[2019-01-26 03:45] elevatebart commented on #245
It is a great suggestion. I myself struggled a little to find out how to do it.
I will add a page called `Deployment` in there.

[2019-01-26 03:46] elevatebart commented on #245
I do not know how to deploy directly to netlify though, I will ask @shortdiv.

[2019-01-28 10:44] DavidReinberger commented on #237
Hey @elevatebart just to report, `vue-types` are now working correctly, however the props information is not parsed out and displayed correctly...

[2019-01-29 09:16] bengallienne opened #263 "No webpack config found after update to 3.0.6+"
After updating from 3.0.5 to 3.0.6 the npm command 'npm run styleguide' no longer works, returning the error;

Warning: No webpack config found. You may need to specify "webpackConfig" option in your style guide config:
https://github.com/vue-styleguidist/vue-styleguidist/blob/master/docs/Webpack.md

We are using Vue CLI 3.3.1 and did not need to do this previously, I believe the location of the w

[2019-01-29 14:21] elevatebart commented on #263
Hello @bengallienne , I believe the issue you are having is linked to the fact that you are not using the @vue/cli plugin. The quick fix is:

[code]

I was bugged by the fact that cli had to be managed directly with an if in the software. I need to add this to the documentation.

Really sorry about the inconvenience.
Bart

[2019-01-29 14:26] elevatebart commented on #263
Since it breaks backwards compatibility I will try to cook up a quick fix as well.

[2019-01-29 14:36] bengallienne commented on #263
:) I didn't even know there was a plugin! I'll give that a try, thanks!

[2019-01-29 15:27] mrjones2014 commented on #112
@elevatebart it seems to have fixed itself

[2019-01-29 15:31] elevatebart commented on #112
Neat !!!!

[2019-01-29 15:31] #112 closed

[2019-01-30 12:58] nicooprat commented on #17
Still can't find the default theme config, could you give us a link? Thanks.

[2019-01-31 02:03] tamm opened #265 "Examples not working when following documentation"
I went to this example and ran the instructions (modified for vuetify example, but same thing happens with basic)
https://github.com/vue-styleguidist/vue-styleguidist/blob/master/examples/vuetify/Readme.md

I get this error:
[code]

By instead doing the following the examples work:
[code]

I don't know what the issue is with the example, but please update the documentation if it's not a problem so

[2019-01-31 04:05] elevatebart commented on #265
hey @tamm,

I took me a minute but I manged to make it work.

I just created PR #266

[2019-01-31 05:39] tamm commented on #265
Awesome, that was so fast!
I've pulled that branch and the examples work as expected for me now.

[2019-01-31 12:14] elevatebart commented on #265
Great !!

[2019-01-31 12:14] #265 closed

[2019-02-01 12:49] mob8607 opened #267 "Putting html comment besides root element causes TypeError"
Hi,

I am using the single file components and as soon as I put a html comment on the same level as the root element of my component, I get following error when I want to build the styleguide: `TypeError: Cannot read property 'children' of undefined`

Example:
[code]

[2019-02-01 13:36] elevatebart commented on #267
It is very probably a bug. I will look into it asap. I will just move it to vue-docgen-api if you don't mind.

[2019-02-01 13:38] elevatebart commented on #267
CLosing since we have https://github.com/vue-styleguidist/vue-docgen-api/issues/96

[2019-02-01 13:38] #267 closed

[2019-02-03 20:45] angelowolf commented on #158
Hello we have a base component, wich is used as a mixins in many other components. The template is only in the mixins. The mixins looks like this:
[code]

And this is an example of a componente that uses it:

[code]

[2019-02-03 21:04] elevatebart commented on #158
Thank you so much, I will have a look.

Bart Ledoux
Twitter: @bartledoux
Github, Gitter, Discord: @elevatebart

[2019-02-03 21:15] elevatebart commented on #158
Actually would you mind creating a repository where I can reproduce ?

Bart Ledoux
Twitter: @bartledoux
Github, Gitter, Discord: @elevatebart

[2019-02-03 22:58] angelowolf commented on #158
Hello this is the [repository](https://github.com/angelowolf/styleguidist-mixins-demo)

The *TrxButtonBase* is the mixins component, and the others *TrxButtonXXX* are components that use the mixin.

In the picture you can only see the documentation of the mixin and not the other components.

![example_mixins](https://user-images.githubusercontent.com/15150124/52184094-9f9b5380-27ed-11e9-9dd7-fbf1b

[2019-02-03 23:42] vdcrea commented on #158
@angelowolf as a workaround and as the template is not so long, did you try to change the .vue mixin to a .js mixin with your template in a render function (ex https://sebastiandedeyne.com/vue-templates-in-jsx/ )?

[2019-02-04 00:33] elevatebart commented on #158
I am working on it. I just needed a concrete example. It will not take long. It was an issue of file resolution.

NodeJs `require.resolve` never looks at `.vue` files by default. One has to tell it to do so.

[2019-02-04 00:42] elevatebart commented on #158
I am done, I'll deliver tomorow morning with a fresher mind ;)
Thank you for the help.

[2019-02-04 09:55] nicooprat commented on #245
@elevatebart Netlify should be really easy by following their onboarding steps:

1. Link to Github account
2. Choose a repo & a branch
3. Set up build command `npm run styleguide:build` & folder to serve `styleguide`

Any info for Github pages? Never used it.

[2019-02-04 14:36] #158 closed

[2019-02-04 15:07] stephsavoie commented on #147
@entioentio it should be working in version 3.0.  I currently use 3.0.9 and I uses default slots in many places and in different markup depth.

it's even working in self-closing tag like below:
[code]

[2019-02-04 15:43] stephsavoie opened #268 "slot definition inside a scoped slot are not documented"
I'm trying to document slot in my code.
I'm using vue-styleguidist version 3.0.9  and vue version 2.5.21

this is working fine as it's documented correctly by Vue Styleguidist:
[code]

But code below is not working, maybe because the slot is defined inside a `slot-scope` after having done some tests:
[code]

Same issue occurs if template tag above is replaced with anything else (like a div tag).

[2019-02-08 11:16] andywd7 commented on #131
Hi, I know this is closed but could someone please provide a clearer answer as to how to solve or bet around this problem? I have a component that uses `<router-link>` and need it to render as expected otherwise the documentation of the rendered code is incorrect.

Thanks in advance for any help, it's would be very appreciated.

[2019-02-08 16:53] sylvainpolletvillard opened #269 "Allow vue code blocks without script parts in examples markdown"
Hello, nice project !

I try to use vue code blocks in some examples markdown, but some of these code blocks do not contain a `<script>` tag. This currently causes a JS exception here: https://github.com/vue-styleguidist/vue-styleguidist/blob/master/src/utils/singleFileComponentUtils.js#L27

Example:

[code]

I think the `<script>` tag is not technically required in the SFC spec, if you only use g

[2019-02-08 17:35] elevatebart commented on #269
Woopsie !! I fixed it in vue-docgen-api but not here ...
Will fix soon, or Pull Request welcome ;)

[2019-02-10 23:24] JessicaSachs opened #270 "Cannot find module 'fork-ts-checker-webpack-plugin', Breaking error in v1.0.4"
I'm getting an exception when I'm trying to run `npm run serve` in a super simple project. styleguidist v 0.2.1 works fine

internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module 'fork-ts-checker-webpack-plugin'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Modu

[2019-02-10 23:30] elevatebart commented on #270
Hey jess, did you use the vue-cli plugin[https://github.com/vue-styleguidist/vue-cli-plugin-styleguidist] ?

[2019-02-10 23:40] elevatebart commented on #270
I see that you do. I missed the version number.

Could you please share the `devDependencies` portion of your `package.json` ?

[2019-02-10 23:50] elevatebart commented on #270
Outside of this scope, does `npm run styleguide` work ?

[2019-02-11 00:17] elevatebart commented on #270
You just might have to update most or the cli to match the version in the plugin.

[2019-02-11 00:24] #24 closed

[2019-02-11 00:25] elevatebart commented on #90
I beleive it is fixed now.

[2019-02-11 00:25] #90 closed

[2019-02-11 00:27] elevatebart commented on #117
please try v3 it is lighter and faster.

[2019-02-11 00:27] #117 closed

[2019-02-11 00:27] elevatebart commented on #122
This one I fixed ;)

[2019-02-11 00:27] #122 closed

[2019-02-11 00:28] #147 closed

[2019-02-11 00:30] #142 closed

[2019-02-11 04:39] elevatebart commented on #270
Here is the explaination:
In react-dev-utils@7.0.2, react-dev-utils became highly dependent on create-react-app.
Facebook, more specifically https://github.com/deftomat added a line in this file
https://github.com/facebook/create-react-app/blob/master/packages/react-dev-utils/WebpackDevServerUtils.js without adding the proper dependency to their package.json

I will carve an issue/PR combo tomorro

[2019-02-11 08:27] entioentio commented on #147
Hi @stephsavoie. I tried to install the project where it was failing, but I've run into dependency upgrade hell. I wanted to tried it once more when i have time to hopefully give some insightful feedback. I'll go with what you say. Thanks for taking care of the issue.

[2019-02-11 14:35] #270 closed

[2019-02-11 15:51] cub opened #271 "Read Props/Methods from external-separate .js file"
Hi,
First, thanks for your work, i have tested many generators of documentation, yours is the best ;)

I have an issue, if I externalize the `<script>` like :
[code]

Vue-Styleguidist will find my component, display the template part but not the Props/Methodes part. If I put the content into the `<script>` no problem. I tried to change the regex of `components: 'src/components/**/[A-Za-z]*.vue'` t

[2019-02-11 19:15] elevatebart commented on #271
Hello @cub ! vue-docgen-api for now does not load remote templates, styles or scripts. I think it is an interresting idea that I will explore in the days to come.

I will copy your issue to [vue-docgen-api](https://github.com/vue-styleguidist/vue-docgen-api) and close this one when done.

Thank you for taking the time to log it.

[2019-02-11 19:17] elevatebart commented on #271
please follow https://github.com/vue-styleguidist/vue-docgen-api/issues/105

[2019-02-11 19:17] #271 closed

[2019-02-14 16:21] nicooprat commented on #131
@andywd7 You can mock the `<router-link>` component: https://github.com/vue-styleguidist/vue-styleguidist/issues/108#issuecomment-458358043

[code]

[2019-02-15 17:34] #269 closed

[2019-02-15 19:21] ale-grosselle opened #273 "Impossible to import js mixins"
Hi,
many thanks for your work!

Importing a js as mixin in my vue components, generates this error:

Warning: Cannot parse src/basic/button/Button.vue: Error: Neither 'mixins/Themeable.vue' nor 'mixins/Themeable.js', not even 'mixins/Themeable/index.js' or 'mixins/Themeable/index.ts' could be found in '/Users/alessandro.grosselle/Documents/projects/github-project/vue-styleguidedist/src/basic/butto

[2019-02-15 19:26] elevatebart commented on #273
Thanks @ale-grosselle I will have a look.

[2019-02-15 19:33] elevatebart commented on #268
The issue is that the comment is attached to the root node.
A slot without a comment will not be documented.
So your comment not being picked up + slot not being documented if no comment = no doc. it is a bug in vue-docgen-api.
I will fix it.

[2019-02-16 11:29] ale-grosselle commented on #273
@elevatebart I have update to 3.0.13, but the problem is still present:
https://github.com/ale-grosselle/vue-styleguidedist
![image](https://user-images.githubusercontent.com/6173088/52899112-8e3b4980-31e6-11e9-88c3-bd25a4160d69.png)

[2019-02-16 15:43] MacZel opened #275 "Enable serverPort config to accept string"
`process.env` variables are converted to strings. Running vue-styleguidist with serverPort requires parseInt() beforehand.

Taken from [node.js docs](https://nodejs.org/docs/latest-v8.x/api/process.html#process_process_env):

[2019-02-16 16:43] elevatebart commented on #275
Hey @MacZel this is a great point,

Vuestyleguidist uses react-styleguidists parser for config validation but I believe that fixing it should not be too much trouble.

[vue-styleguidist/scripts/schemas/config.js](https://github.com/vue-styleguidist/vue-styleguidist/blob/master/scripts/schemas/config.js) is the file to modify to change the type.
In order to avoid webpackDevServer from complaining,

[2019-02-16 16:44] elevatebart commented on #268
This should be dealt with in 3.0.13 ;).
Thank you for the feedback

[2019-02-16 16:47] elevatebart commented on #252
Hello @LeBenLeBen,

It would help a ton if you could cook up a quick repro repo.
I could even add this to the e2e tests on every branch so that your case is guaranteed to always work.

Thank you in advance and sorry for not getting to you earlier.
This really seems like a bug.
Bart

[2019-02-16 16:51] elevatebart commented on #237
We now should be displaying the content of the function directly.
It is not perfect but is better than not displaying the prop at all ;)

[2019-02-16 16:52] #237 closed

[2019-02-16 22:46] MacZel commented on #275
Hi @elevatebart,

I did open a PR.
[vue-styleguidist/scripts/schemas/config.js](https://github.com/vue-styleguidist/vue-styleguidist/blob/master/scripts/schemas/config.js) - in schema I did change type to also enable string value
[vue-styleguidist/scripts/config.js](https://github.com/vue-styleguidist/vue-styleguidist/blob/master/scripts/config.js) - parsing to integer is invoked before sanitizing

[2019-02-16 23:29] #275 closed

[2019-02-17 13:57] ale-grosselle opened #277 "Prop with Multiple types always shows "array""
Hi,
if you add multiple types using this syntax:
![image](https://user-images.githubusercontent.com/6173088/52914042-0592db00-32c4-11e9-97fa-dfd15ae44a2a.png)
In the documentation, it always show as array:
![image](https://user-images.githubusercontent.com/6173088/52914054-1b080500-32c4-11e9-93c4-3c9552f69d4f.png)

Please see this basic repository:
https://github.com/ale-grosselle/vue-styleguidedi

[2019-02-17 13:59] ale-grosselle commented on #273
@elevatebart the problem isn't fixed.
Please see my simple example:
https://github.com/ale-grosselle/vue-styleguidedist/blob/master/src/basic/button/ButtonMixin.vue

[2019-02-17 14:31] elevatebart commented on #277
This is a bug that has been there forever, fixing it should not be too hard.
I will transfer it to [vue-docgen-api](https://github.com/vue-styleguidist/vue-docgen-api) though.

[2019-02-17 14:33] elevatebart commented on #277
Please follow this issue instead of the current one https://github.com/vue-styleguidist/vue-docgen-api/issues/108.

[2019-02-17 14:37] ale-grosselle commented on #277
@elevatebart many thanks and, again, congratulation, great project!

[2019-02-17 16:26] #277 closed

[2019-02-17 16:45] #273 closed

[2019-02-17 17:37] ale-grosselle commented on #273
@elevatebart many thanks for the fix!
I'm testing your fix and everything works well except for something that I do not know if it's a bug:
If you import a mixins in a component without "name" attribute set, in the generated documentation the component name will be the minixin name.

![image](https://user-images.githubusercontent.com/6173088/52916682-e0fa2b80-32e2-11e9-954c-d9dec0500504.png)

![im

[2019-02-17 18:39] elevatebart commented on #273
This is interresting and is another bug. I will log it in vue-docgen as well.

[2019-02-17 18:41] elevatebart commented on #273
https://github.com/vue-styleguidist/vue-docgen-api/issues/110

[2019-02-17 20:44] elevatebart commented on #37
I think this issue is obsolete, if you find it again, please lo another issue ;)
Thank you ;)

[2019-02-17 20:44] #37 closed

[2019-02-17 20:47] elevatebart commented on #38
Since I use svg loader myself, I believ it works.
Please ping me on vue-land (discord) and I will help you set it up ;)
If you still have the issue, please create another one. the old issues tend to be forgotten too easily.

Cheers

[2019-02-17 20:47] #38 closed

[2019-02-17 20:50] elevatebart commented on #134
hey @rafegoldberg, I have implemented aliases and moudles from webpack in the core of styleguidist.
I hope this will help you get your docs.

[2019-02-18 07:11] LeBenLeBen commented on #252
Oh snap, I was able to make it work the other day and forgot to update this issue, sorry for that.

The problem was caused by `const Vue = require('Vue').default;`, the value within the `require` should be lowercase.

[2019-02-18 07:11] #252 closed

[2019-02-18 12:32] elevatebart commented on #198
You should try using JavaScript as a markdown language highlight. Works nice for templates.

[2019-02-18 14:36] ale-grosselle opened #279 "events are not shown in documentation"
Hi!!

If you emit a parametric event (event Id provides from a variable), the event is never shown in the documentation.

![image](https://user-images.githubusercontent.com/6173088/52957519-2164b280-3392-11e9-9080-cc9b5b4d4f7c.png)
![image](https://user-images.githubusercontent.com/6173088/52957539-2fb2ce80-3392-11e9-8f66-bb722d8078a7.png)

If you want, see the example:
https://github.com/ale-gros

[2019-02-19 01:50] elevatebart commented on #279
Once again a great remark from @ale-grosselle, I will transfer immediately to docgen ;)

Thank you again and well ... Sorry ^^.

[2019-02-19 02:38] elevatebart commented on #279
please follow https://github.com/vue-styleguidist/vue-docgen-api/issues/113

[2019-02-19 02:38] #279 closed

[2019-02-19 12:28] MacZel commented on #167
@elevatebart I will work on this feature, and submit a PR over the weekend

[2019-02-19 12:37] MacZel commented on #236
@wargt Please attach a basic repo with your configuration. It will be easier to help you out.

[2019-02-19 16:49] MacZel opened #280 "Add new config option buildDir, rename styleguideDir"
It would be nice being able to specify source directory as well as build directory in configuration. That would make project structure cleaner by separating config files from source files.

I would suggest introducing new option: `srcDir` with default value `src` and rename `stylguideDir` to `buildDir` with corresponding default `build`

[2019-02-20 10:38] jserra91 opened #281 "Prop readonly with Typescript"
We are currently creating a components library with typescript and we use styleguist to show de properties, slots, events, etc.

We find the error when put the property named "readonly" don't show in the styleguist. If renamed to "readonlyy" if it is displayed.

[code]

styleguide.config.js

[code]

[2019-02-20 13:07] MacZel commented on #30
@rafaesc
Jsx is supported but when it comes to writing `<docs>` of components you need to use vue template syntax in order to preview the example component.

Since it's jsx render function it should be possible to write example like this:
[code]
rather than:
[code]
Is it possible to switch the parser somewhere in settings?

[2019-02-20 13:58] elevatebart commented on #281
Read only is a typescript keyword. The Babel typescript parser used by vue-docgen-api seems to have a hard time parsing it. I will try and find a way around it.

In the meantime, if you can’t wait, you can use camel case readOnly.

Thank you for the heads up

[2019-02-20 15:42] 2xAA opened #282 "[Docs] List of theme variables"
Is there still a complete list of theme variables available?
[The link in the docs](https://vue-styleguidist.github.io/Cookbook.html#how-to-change-styles-of-a-style-guide) is broken.

[2019-02-20 21:15] dobromir-hristov opened #283 "[Feature] Generate only markdown to plug into docute or Vuepress"
Could we use VSG to generate just markdown files, that we can then plug into Vuepress or something like Docute or Docsify? From what I understood, it is not possible at the moment.

https://github.com/vue-styleguidist/vue-docgen-api/issues/38 might be connected to this, as such a CLI tool using the ouput from the API might be what I am asking for?

Thanks!

[2019-02-20 21:32] rafaesc commented on #283
@dobromir-hristov well, vue-docgen-api borned to be used in vue-styleguidist, although it could be included, there already is a tool.

https://gitlab.com/vuedoc/md

I don't sure if it's useful for you

[2019-02-20 21:42] elevatebart commented on #283
@rafaesc I think we could add this to vue-docgen what do you think ?

[2019-02-20 21:43] elevatebart commented on #283
as a response to https://github.com/vue-styleguidist/vue-docgen-api/issues/38

[2019-02-20 21:53] rafaesc commented on #283
@elevatebart well, yes, I would like to research which would be the best markdown format to be used in Vuepress, Docute or Docsify. maybe we can do something fine.

[2019-02-20 21:56] elevatebart commented on #283
@dobromir-hristov per our talk on discord, please tell us if you need help.
If you do not have time for it no big deal.
It seems like an exciting project.
Thank you for taking it on.

[2019-02-20 22:01] alpadev opened #285 "[Fix] Makes vue alias path absolute"
See https://github.com/vue-styleguidist/vue-styleguidist/pull/284

[2019-02-20 22:39] dobromir-hristov commented on #283
I will try to research what `md` format would fit best all the popular documentation generators. From what I know from experience, they all use `markdown-it` as a parser.

[2019-02-21 01:38] JessicaSachs opened #286 "Cannot use modules that reference window inside of "context" option"
So you can require helpers and fixtures inside of your `<docs>` that depend on window, and that works fine... but then when you try to require those fixtures globally using the context option, styleguidist fails to compile. :-(

[code]

[2019-02-21 03:59] elevatebart commented on #286
This is unfortunate indeed.
We are using react-styleguidist examples-loader directly.

Each context member is loaded inside the loader (in node) at
https://github.com/styleguidist/react-styleguidist/blob/master/src/loaders/examples-loader.js#L69
At this point window is not defined.
You could wrap your library to make sure it is defined.
I am not sure it would help.

Are you trying to include somet

[2019-02-21 04:01] #285 closed

[2019-02-21 04:02] elevatebart commented on #282
The link should actually point to react-styleguidist.

[2019-02-21 04:46] JessicaSachs commented on #286
It's really ugly but it's working... thank you for the tip!

Let me know if you have a way to make this less gnarly.

[code]

[2019-02-21 10:43] 2xAA commented on #282
_leave it to me 😎_

[2019-02-21 13:26] #282 closed

[2019-02-22 10:56] ale-grosselle commented on #279
Hi @elevatebart
sorry if you still trouble me but I still have problems with event documentation.

We usually define eventName in a separated Enum files:
![image](https://user-images.githubusercontent.com/6173088/53237971-5de92480-3698-11e9-9634-ab9f47883abc.png)
Doing so, events are never shown:
![image](https://user-images.githubusercontent.com/6173088/53237984-65a8c900-3698-11e9-8864-a29a372a03

[2019-02-22 17:36] elevatebart commented on #280
It is a great idea.
I stumbled about it myself much on my first use of vsg.
I think it would mean some changes in make-wepack-config.js but not too many.

Probably some chnages in the schema validation as well.
We cannot rename an option though, too many people rely on it.
The existing `styleguideDir` would continue working the same way but be deprecated.

@rafaesc What do you think ?

[2019-02-22 17:38] elevatebart commented on #172
@beirdostudio @easherma Did you try it again in v3 ?

[2019-02-22 17:45] rafaesc commented on #280
@MacZel but I don't sure about specifying source directory, because you have to specify the url the components that you want to document in `components` property

[2019-02-22 19:03] rafegoldberg commented on #134
@elevatebart sick dude, just saw your last ^note! Somewhat busy with other projects at the moment, but will def. check out the newest version and report back when I have a chance...

[2019-02-23 20:18] MacZel commented on #280
@rafaesc what I meant by `srcDir` is a directory where the source files of the styleguide live, and not the components to be documented.

[2019-02-23 20:48] MacZel opened #289 "unable to make file-loader to work"
Example `webpackConfig` part taken from my `styleguide.config.js`

[code]

[2019-02-23 22:43] elevatebart commented on #289
Hello @MacZel,
What do you mean by "unable to work"?
Did you see an error message? File not found? Was a directory ignored?

[2019-02-23 22:50] MacZel commented on #289
No error message at all. Directory is the same as where I keep svg icons. Svgs are being loaded with html-loader. Unfortunately can't make file-loader to work. It seems like webpack is omitting the rule with file-loader.

[2019-02-23 22:51] elevatebart commented on #279
Hey @ale-grosselle, Even if I do not know your architecture I wonder how you actually hook on those events. Id est, if you have an event "error" you still have to have an `@error` on the parent component. Which means that those events are still hardcoded.

I do believe that your use case makes sense even if I do not like it.

Would you please create an issue on https://github.com/vue-styleguidist/

[2019-02-23 22:55] elevatebart commented on #289
Are you saying that none of the images appear ?

[2019-02-23 22:59] MacZel commented on #289
Yes, exactly. Tried to find something similar in vsg examples, unfortunately none of them use file-loader to load images.

[2019-02-23 23:05] ale-grosselle commented on #279
@elevatebart Thanks for the reply!
I am building a components library based on vue and for each event component i create an object key:value where I set the event string:
``
const eventsList = {'play': 'play', 'stop': 'stop'.}
``
In my opinion is the best mode to avoid string error (emit played instead of play for example).
The eventname is stored into an object, get event string from it.

So actu

[2019-02-23 23:17] elevatebart commented on #289
You might have to tell webpack where to find these images.

Have you tried using the option `assetsDir`
https://vue-styleguidist.github.io/Configuration.html#assetsdir

It is used to tell webpack where to load the images from.

Hope it helps

[2019-02-23 23:19] MacZel commented on #289
I'm already using this option in my config. Images are located at the same directory as Svgs, so this should work for both..

[2019-02-23 23:19] elevatebart commented on #279
Absolutely, me not liking it was an opinion.
Once again, can you create an enhancement issue in vue-docgen-api and I will add the `@event` flag ASAP

[2019-02-23 23:22] elevatebart commented on #289
Have you tried using it without styleguidist ?

[2019-02-23 23:22] ale-grosselle commented on #279
Yes, now I am opening anche issue!
But only FYI, in previous version the library was able to get event name from jsdoc so Is could be a regressione instead of and enahace?

[2019-02-23 23:23] elevatebart commented on #289
The only thig styleguidist does is using your webpack config to load the components. So if ti works without styleguidist it shoudl work with as well.

[2019-02-23 23:24] elevatebart commented on #279
I agree let's fix the regression ;)

[2019-02-23 23:31] elevatebart commented on #286
So the plugin you are loading gets the data from the window object right ?
And makes it vailable to components. Seems neat.

[2019-02-24 00:17] MacZel commented on #289
I was able to find a solution. file-loader and url-loader both work.
To load a file you need to pass webpack rule:
[code]
create script at eg. `loadImages.js`.
In this file you need to import every file:
[code]
then pass this script in Vue Styleguidist config file option `require`.
[code]
Dunno if this was obvious. Hope this will help somebody in the future.

Tested lots of other suggested solutio

[2019-02-24 00:17] #289 closed

[2019-02-24 01:34] elevatebart commented on #281
Hey @jserra91 If you remove the `!` after readonly it will work too.
I posted a bug to @babel/parser so that they deal with it on their side.

I think I can creat a quick PR that would fix it ;)

[2019-02-24 13:45] jserra91 commented on #281
Thx @elevatebart :)

[2019-02-24 18:29] gjuchault opened #290 "Multiple hot-reloading source create Maximum call stack error"
Hello,

Using vue-styleguidist from scratch, I had hot-reload error:

[code]

![image](https://user-images.githubusercontent.com/678848/53303452-b8d27580-386a-11e9-92d3-e8221a30cd46.png)

It appears to be linked to https://github.com/webpack/webpack-dev-server/issues/87 / https://github.com/webpack/webpack/issues/5655

By removing the plugin https://github.com/vue-styleguidist/vue-styleguidist/blo

[2019-02-24 18:46] gjuchault commented on #290
Temporary solution:

[code]

[2019-02-24 18:47] gjuchault commented on #290
Temporary solution:

Add this in `styleguide.config.js`

[code]

[2019-02-24 19:08] elevatebart commented on #290
Hello @gjuchault, are you using vsg with the @vue/cli 3 ?
If yes, you should probably use the [plugin](https://github.com/vue-styleguidist/vue-cli-plugin-styleguidist).
If you do, and it is what is failing, can you please open a request on this repo?

[2019-02-24 23:12] gjuchault commented on #290
No, I'm not using it with @vue/cli 3

[2019-02-25 07:22] JessicaSachs opened #291 "The latest release of highlight.js is breaking vue-styleguidist from being able to npm installed"
I think they're going to patch it soon... but just opening this in case someone else has the same issue

[2019-02-25 07:23] JessicaSachs commented on #291
Here's the related issue https://github.com/highlightjs/highlight.js/issues/1984

[2019-02-25 07:28] JessicaSachs commented on #291
Temporary workaround is to install an earlier version of highlight.js as a peer dependency... `npm i highlight.js@9.15.0 -D`

[2019-02-25 12:27] elevatebart commented on #290
Hello Gabriel, I do not get your référence to @vue/cli-service of you are not using the CLI...
Would you please set up a repository so that I can reproduce and fix it ? I myself had HMR issues with a router with only * as a route. I understand your frustration.

Thank you in advance.

[2019-02-25 13:25] ljelewis commented on #222
Would it be possible to include the prop (without comments etc) at the very least?

Also, or alternatively, would it be possible to link to the mixin's documentation? Either at the specific prop (if the answer to my first question is yes) or perhaps listed in a different section of the component's page (e.g. "included mixins")?

[2019-02-25 16:41] fsblemos commented on #222
@elevatebart very thank you for your thoughts! I understand the problem.
About the mixins, lately I'm avoiding it and trying to do the same only with functions, because are easier to reason about and reuse. But that's ok, maybe I'll figure out an workaround to this.

[2019-02-25 17:48] JessicaSachs commented on #291
This was fixed in 9.15.4 last night

[2019-02-25 17:49] #291 closed

[2019-02-25 18:29] JessicaSachs commented on #290
I'm also getting this @elevatebart... I'm using Vue's CLI Service and a pretty basic setup.

[2019-02-25 18:49] elevatebart commented on #290
@JessicaSachs Yes pretty please !! :)

[2019-02-25 19:43] elevatebart commented on #222
@fsblemos, I made a quick PR to make sure those properties are detected. At least this way they can be documented.

[2019-02-25 20:09] elevatebart commented on #290
Actually @gjuchault, @JessicaSachs was on an older version of the cli-plugin.
To help solve your issue, can you share what your `package.json` looks like ?
I am especially interested in the devDependencies section.

do not hesitate to ping me on discord ;)

[2019-02-27 09:35] maratfakhreev opened #292 "Support .jsx components"
Is it possible to use vue-styleguidist with vue `.jsx` components?

Any attempts lead me to this error `Only can parse files .vue`. I've also tried to setup `webpackConfig` section in styleguide.config.js but it didn't help to resolve the issue.

[2019-02-27 16:18] elevatebart commented on #292
Hello @maratfakhreev ,

It is a great point, we should support it. We have all the tools. They are just not put together yet.
If you can add an end to end test to [vue-docgen-api](https://github.com/vue-styleguidist/vue-docgen-api), I can help you add jsx & tsx support.

[2019-02-27 16:20] elevatebart commented on #290
Hello Gabriel,
@gjuchault do you have a minute today to try reproducing it for me?
Or at least give me an idea of the contents your `package.json` file ?

[2019-02-27 20:10] gjuchault commented on #290
@elevatebart Sorry I was a bit busy the last few days.
To get to this issue, I didn't use the vue-cli plugin.

My package.json (removed desc, etc.)
[code]

My styleguide.config.js (removed theming part, and some booleans)
[code]

On load, it says:
[code]

[2019-02-27 21:04] elevatebart commented on #290
vue-styleguidist needs a `webpack.config.js` to work out your components.

As you can see in the error message above, styleguidist is picking up the `@vue/cli-service` webpack config.
This means that the `@vue/cli-service` package did get installed in your repository. It is part of the vue cli 3. Unless you specify otherwise in `vue.config.js`, this `webpack.config.js` contains an extra HMR plugin

[2019-03-01 16:55] mattwaler opened #294 "Required attribute for props not populating"
When adding a required attribute to a components props, it doesn't seem to populate in the guide. I've provided screenshots and repo link below.

Repo: [personal-site](https://github.com/mattwaler/personal-site)

![code](https://user-images.githubusercontent.com/32300026/53653228-dc097600-3c18-11e9-85cb-a131958df162.png)

![app](https://user-images.githubusercontent.com/32300026/53653231-dd3aa300-

[2019-03-01 19:41] gjuchault commented on #290
@elevatebart Thansk for the information. You can close the issue. I think it could be nice to specify it in the documentation (either in a FAQ or something)

[2019-03-01 19:58] elevatebart commented on #294
Hello @mattwaler this is true, for clarity reason.

In order to more easily see required properties, we leave it empty when it is not required.
Since it can only be required or not required, if it is not **yes**, it is **no**.
What is your use case? Does it have to be explicit?

[2019-03-01 20:00] elevatebart commented on #290
You are right, we could add it to the cookbook. It can be very helpful to go through.
Maybe a troubleshooting page. Please do not hesitate to send a pull requests to the docs.
Did it work ?

Thank you for your interest.

[2019-03-01 20:04] #290 closed

[2019-03-01 20:06] elevatebart commented on #182
@thomasdelobel this issue seems to be obsolete, if you encounter this bug in 3.X please open a new one

Thank you.

[2019-03-01 20:06] #182 closed

[2019-03-02 22:10] elevatebart commented on #292
After a quick test on vue-docgen, it seems to be working like a charm. I believe the problem is in vsg.
@maratfakhreev What error message are you seeing?
Do you have a repro codesandbox or github repo ?

Thank you in advance.
Bart

[2019-03-03 00:20] elevatebart commented on #281
Closing since merged in babel ;)

[2019-03-03 00:20] #281 closed

[2019-03-03 00:27] #210 closed

[2019-03-03 00:28] elevatebart commented on #206
Closing.

If you find this error again, please open a new ticket.
Hope you enjoy v3 ;)

Thanks,
Bart

[2019-03-03 00:28] #206 closed

[2019-03-04 00:40] mattwaler commented on #294
Hello @elevatebart!

Your explanation makes sense, and I probably shouldn't have been so dumb as to not try the setting the prop to true before submitting the issue.

I personally would like be able to change that behavior and have false show all the time, my OCD would not be able to handle having every other field filled out except for required 🙃 .

Maybe this should be documented somewhere, and

[2019-03-04 18:57] elevatebart commented on #294
Thank you @mattwaler your praise means a lot.
As soon as I am done with the creation of the monorepo I will go into a documentation frenzy and give a bit of trouble shooting.

You can send a quick PR. If you find the perfect place to to document it.

[2019-03-04 18:57] #294 closed

[2019-03-04 18:59] elevatebart commented on #268
Hello @stephsavoie did you get to try the above version ?

[2019-03-05 14:28] ljelewis opened #295 "Transform Sections config option"
#247 requests this same feature for a different use case. My use case is not easily solved by overriding the Styleguide renderer component. I need to **significantly** transform what pages are rendered by combining the output from getSections with the return from an API call.

Would it be feasible to integrate pull request #248?

[2019-03-05 17:23] ljelewis commented on #295
I figured out a much easier way to do this - transform the config before it's injected into vue-styleguidist.

[2019-03-05 17:23] #295 closed

[2019-03-05 20:43] gjuchault commented on #290
It works very well by using the vue cli plugin :)

[2019-03-06 01:51] JessicaSachs opened #296 "Fix broken "basic" example"
Missing some package.json dependencies 😿

[2019-03-06 01:59] JessicaSachs opened #298 "Fix broken "customized" example"
Is missing some babel plugins to transpile jsx.

[2019-03-06 02:07] JessicaSachs opened #300 "Fix broken nuxtjs example"
Not working due to styleguide.config.js being in the wrong place. Should be under `styleguide`.

[2019-03-06 02:14] JessicaSachs opened #302 "Fix vuex example"
Vuex example doesn't add vuex to its dependencies. 👎 😿

[2019-03-06 05:00] #298 closed

[2019-03-06 05:00] #302 closed

[2019-03-06 05:01] elevatebart commented on #259
If you find the issue again, please open a new one. As discussed, might be a user issue with hot reload.

[2019-03-06 05:01] #296 closed

[2019-03-06 05:04] #300 closed

[2019-03-06 13:22] lukenofurther opened #304 "Add HTML content option for sections config"
My use case is this - source the content for pages/sections from an API rather than markdown files. In order to achieve this I'm writing HTML from the API into markdown files then feeding them into vue-styleguidist. Having the option of specifying an HTML string for content directly in the sections config instead of a markdown file path makes much more sense in this scenario.

[2019-03-06 13:49] tornography commented on #259
Input:
![grafik](https://user-images.githubusercontent.com/878616/53885726-bd431f00-401e-11e9-91da-1978e279755d.png)

Output:
![grafik](https://user-images.githubusercontent.com/878616/53885834-f4b1cb80-401e-11e9-8cc6-d627c10820fe.png)

[2019-03-06 13:58] elevatebart commented on #259
thank you @tornography for the repro.

[2019-03-06 14:30] tornography commented on #259
Investigated a litte bit. It's caused by the standard behavior of vue, by just having one single root element. So wrapping those two components in a div resolved the problem.
But now the div is shown in the code example as well. A solution could be, to wrap content from a jsx code block in a div automatically, to make sure there is only one root element.

[2019-03-06 16:38] elevatebart commented on #259
What if we make it a functional component ?

[2019-03-06 16:40] JessicaSachs commented on #259
I'd actually meant in the Markdown file! @tornography and it turned out to be user issue where I was looking at a specific example block in isolation mode, where I _thought_ I was looking at the entire component and all of it's example blocks.

This is another example of a silent failure of the compiler to decide to "drop" the second example.

I'd much prefer one of the two:
1. An actual failure t

[2019-03-06 20:20] RyanHavoc commented on #252
Should the require be within the `.md` file itself?

I have a `Button` component and a `ButtonStatePresenter` component I want to keep hidden. So I've set `skipComponentsWithoutExample` to true and included this in my `Button.examples.md` file:

[code]

But I get the error you did:

[code]

Any ideas?

[2019-03-07 06:30] LeBenLeBen commented on #252
Yes the require must be in the MD file, within the code block. Have you restarted the server? Also be sure to double check the path to your component. I think the require will fail silently if it cannot load the file.

[2019-03-07 09:55] RyanHavoc commented on #252
That's what I wasn't doing! Thank you. Working now.

[2019-03-07 10:32] jserra91 opened #305 "Support @emit decorator"
Hi,

it's possible ignore the emit method in the styleguist? With typescript.

For example:

[code]
Emit definition: https://github.com/kaorun343/vue-property-decorator#-emitevent-string-decorator

Thanks.

[2019-03-07 12:26] elevatebart commented on #305
If a method is not flagged with @public, it should not show up in your styleguide. This is because most of the methods are internals of the components and should not be called from outside the component.

[2019-03-07 12:33] elevatebart commented on #305
After reading the docs, you seem to want to parse this as an event emission. I am preparing a way to add this as plugin.
For now, since this @emit is not officially supported, i do not want to slow the rest of the parsing with it.

1. Add the plugin exosystem
2. Build plugin for propTypes and fluent types parsing
3. Build plugin for collapsible sections
4. Build plugin for sub folder detection
5.

[2019-03-07 12:48] elevatebart commented on #304
That is a very interresting workflow indeed. I would love to hear more.
Are you saying that you build webpages using another tool, then pass them to styleguidist to build a documentation website ?

[2019-03-07 12:51] elevatebart commented on #177
I believe this has been fixed. Can you try v3 ?

[2019-03-07 13:23] ljelewis commented on #304
The idea is for page content to be curated in a CMS to allow non-devs to update it without having to ask devs to change the source code. Most CMS's these days have an API to retrieve the content, so the build fetches the page content and incorporates it into the styleguide instead of static markdown files.

At the moment I'm doing this for the static (i.e. non-component) pages defined in the secti

[2019-03-07 17:20] elevatebart opened #306 "Make configuration compatible with @vue/ui"
Using `@vue/ui` it would be nicer to load a template than to have to build a complete styleguide.config file

Complete mapping of the conf files using [this doc](https://cli.vuejs.org/dev-guide/ui-api.html#project-)

Transfer from https://github.com/vue-styleguidist/vue-cli-plugin-styleguidist/issues/30

[2019-03-07 17:21] elevatebart commented on #306
It would be great to be able to configure styleguidist using the @vue/ui included in the @vue/cli.

Good examples are the eslint and babel plugins

please have a look in here [where the repo is  for eslint-plugin-ui](https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint/ui)
and in here [doc of ui-plugin-api](https://cli.vuejs.org/dev-guide/ui-info.html)

[2019-03-07 17:22] elevatebart opened #307 "The configuration of styleguidist.config.js stored directly in vue.config.js"
Less config files

Same as for eslint

**Alternative solutions**

**Additional context**

[2019-03-07 17:26] elevatebart commented on #134
Thank you @rafegoldberg

[2019-03-07 17:26] #134 closed

[2019-03-07 17:28] elevatebart commented on #165
@ottmartens Do you think we should simply mock it? or make it abstract?

[2019-03-08 03:50] elevatebart commented on #304
Thank you lj I am now intrigued ant want to participate !! You got me hooked.

[2019-03-08 21:21] iwoodruff opened #309 "Reference Error in `vuedoc-loader.js`"
`vue-styleguidist/loaders/vuedoc-loader.js` is accessing `message` before it's defined, throwing `ReferenceError: message is not defined` instead of the intended warning `vue-docgen-api cannot parse ${path}: ${error}`

referencing `message` before it's defined:
[code]
https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-styleguidist/loaders/vuedoc-loader.js#L77

[2019-03-08 21:55] JessicaSachs commented on #309
@elevatebart meet @iwoodruff :-)

[2019-03-08 21:56] elevatebart commented on #309
I wood say it's a pleasure but I prefer the classic "woooooops" !!

[2019-03-08 21:59] elevatebart commented on #309
@iwoodruff thank you for the warning.

I made a typo and eslint did not catch it.

[2019-03-08 22:24] iwoodruff commented on #309
The pleasure is mine! Thanks for addressing this so quickly 😄

[2019-03-08 22:59] JessicaSachs commented on #304
Literally was just talking to @elevatebart about this
I want this. We're using Ghost CMS at work for our designers...

@elevatebart you have that plugin architecture ready for vue-styleguidist yet?

[2019-03-08 23:45] ljelewis commented on #304
I'm using Contentful and currently have the sections config key building off it. I also added the title key and some others might be useful. I have tokens in mind too eventually. For now I'll copy my changes over to a fork of vue-styleguidist to share. My solution utilises the contentful SDK so couldn't be used for other remote sources without changes.

@JessicaSachs have you done a similar integr

[2019-03-09 00:51] #259 closed

[2019-03-09 02:32] JessicaSachs commented on #304
@ljelewis no, I haven't. Paste a link to what you did and I'll give it a go ^.^

[2019-03-10 02:03] elevatebart commented on #309
delivered in 3.8.3

[2019-03-10 02:03] #309 closed

[2019-03-10 09:35] tony19 commented on #177
Not entirely fixed unfortunately. Here's the new behavior with v3.8.3:

 * `require('/path/to/nonexistent/file')` throws "module not found" error 👍
 * `nonexistent()` and `foo123` (syntax error) are still silently ignored :x:

[2019-03-10 16:07] elevatebart commented on #177
2 is not an error, as it could be a call to a `window` variable. As an alternative solution, I suggest using eslint rules or typescript compilation.

Am I missing something?

[2019-03-10 16:09] elevatebart commented on #177
[code]

[2019-03-10 16:20] elevatebart opened #313 "Remove @component constraint for class component detection"
In the [2019 rfc for Vue 3](https://github.com/vuejs/rfcs/blob/class-api/active-rfcs/0000-class-api.md) there is no specification for the `@Component` decorator. This will bring issues when migrating to Vue 3

Instead we could detect `extends Vue` and check that Vue comes from an import of vue default.
Maybe a combination of both the decorator and the extends.
Or we could just simply detect classe

[2019-03-10 16:25] elevatebart commented on #313
My favouite is actually the one we will go with, only detect classes as components to keep compatibility with mixins.

[2019-03-10 17:02] tony19 commented on #177
Hmm. If that window variable doesn't exist, it should be a `ReferenceErrror` at the very least (ideally a compile error). I would expect the behavior to be the same as it would be in a regular `.vue` file with regard to compile errors. Why would it be different?

For https://github.com/vue-styleguidist/vue-styleguidist/issues/177#issuecomment-471319439, no errors:

[code]

[2019-03-11 15:33] johnwebbcole commented on #292
I'm running into this issue also.  I have two cases I'd like to be able to use vue-styleguidist.

1. I have a bunch of `*.js` vue components (embedded template or render functions)
2. In addition to the vue and vue *.js components, I have a lot of `scss` styled components.  I'd like to document them with a `*.md` file and have the fence blocks render the styled components.

I can get pretty close

[2019-03-11 18:38] elevatebart commented on #292
I see that. I will try to treat it as a priority.
If someone is interested in the resolution of this problem, here is where I would look.

In the [processComponents.js](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-styleguidist/loaders/utils/processComponent.js) file the test should be a little looser since we can now document all kinds of files.

In the [preview compo

[2019-03-12 03:49] elevatebart opened #315 "Need more documentation about TypeScript & JSX support"
Right now vue-styleguidist supports components built in js/ts an jsx/tsx. Bt it only supports exmaples written in jsx/js.
This difference needs to be documented somewhere.
In terms of TypeScript support vsg support class style components with decorators but probably soon pure Vue Class Style components.

I will try to find the right spot for documenting supported features.

[2019-03-12 12:39] #292 closed

[2019-03-12 23:27] elevatebart commented on #244
Hello @blowsie ,
 to avoid doing real `axios` calls when you showcase your components, you should mock the api.
I added a little more content to the example to show how it could be working.

I am sorry as I may disapoint a little. vue-styleguidist works perfectly with nuxtjs, because it's all vuejs. but it does not take nuxtjs modules into account (yet).
We could build plugins together for that.
F

[2019-03-13 00:03] #244 closed

[2019-03-13 09:34] jserra91 opened #319 "Change name components in the section"
Hi,

It's possible change (or edit with styleguide.config.js) the name of components in the sections?

For example:

[code]
Each component contains the name attribute.
[code]
And in the styleguide.config.js contains the rute of components (vue and readme).
[code]
The request consists in not showing **pepito-button** in the styleguist menu but show "button" or "inputtext" (without prefix).

Thank y

[2019-03-13 13:22] blowsie commented on #244
Maybe you are missing the point here.  Its not an axios plugin problem.
Nuxt plugins are not supported, therefore vue-styleguidist does not work perfectly with nuxtjs

[2019-03-13 13:42] elevatebart commented on #244
@blowsie I understand your point, modules could do many things in nuxtjs. They count on the exitence of the nuxtjs context, router and other tools. And you are counting on the existence of the nuxtjs modules in your components.
I chose not to pollute the lib with specifics of libraries.
I will soon publish a way to add plugins both to the parser and the rendered.
I am still figuring out the specif

[2019-03-13 13:50] elevatebart commented on #319
There is 2 parts to your question.

### Part 1: Can I customize names of my component?
Indubitably. Try this.

[code]

### Part 1: Why is the name property in the decorator `@component`?
It should be, if it is not then it is a bug.

[code]

[2019-03-13 14:02] elevatebart commented on #319
Are you using class style components or config object defined components ?

[2019-03-14 04:11] #313 closed

[2019-03-14 05:28] elevatebart commented on #172
should be fine now.

[2019-03-14 05:28] #172 closed

[2019-03-14 05:30] elevatebart commented on #168
I think with the examples are now cleaner. You should have a run with it.
Please open a new issue if you meet this again.

[2019-03-14 05:30] #168 closed

[2019-03-14 05:32] elevatebart commented on #7
Since 3.0 it is now working.

[2019-03-14 15:48] jserra91 commented on #319
Yes but my problem is when I invoke the component (for example pepito-button) in the html, I use "<pepito-button>...</pepiton-button> (tag defined with "name" variable in the @component decorator) and the Styleguist print "pepito-button" label in the section.

I need a way to erase the prefix "pepito" and leave 'button' alone (in the menu section).

[2019-03-14 17:13] elevatebart commented on #319
How do you "invoke" the component?
Are you talking about an example in the Markdown or in a default example?

A reproduction repo would be incredibly helpful.

You can clone this dude https://github.com/vue-styleguidist/buefy-styleguide-example
and do a couple of updates. I will do it myself.

Thank you for taking the time.

[2019-03-14 17:37] elevatebart commented on #319
Actually wait a little bit before cloning, the repo is really out of date.

[2019-03-14 21:12] #319 closed

[2019-03-15 04:33] wmartins opened #321 "Problem when installing newest version of `vue-cli-plugin-styleguidist`"
**Current behavior**

Recently I got a really strange behavior in my build pipeline, saying the following message:

[code]

**To reproduce**

[code]

**Expected behavior**

I exepected to be able to install this package.

**Further investigation**

It seems like `vue-docgen-api` wasn't published in the latest changes:

[code]

If you need any other info, just let me know.

[2019-03-15 06:34] marshallswain commented on #321
If you install dependencies for your VueCLI project with Yarn, you'll be able to install `vue-cli-plugin-styleguidist`.

[2019-03-15 06:38] marshallswain commented on #131
Thanks for the idea @nicooprat!  Just in case anybody could benefit from this, here's one that allows you to customize the tag:

[code]

[2019-03-15 06:40] marshallswain commented on #108
Just in case anybody could benefit from this, here's a mocked `router-link` component that allows you to customize the tag:

[code]

[2019-03-15 12:59] wmartins commented on #321
@marshallswain, the problem is that I'm running this in a CI environment, so, no interactivity to choose the different version.

The only way I could make it work was to force the installation of a fixed version of `vue-styleguidist`. For example:

[code]

[2019-03-15 13:03] seanzi86 opened #322 "Slot definition inside a v-else are not documented"
**Current behavior**

If you add a `@slot` comment inside an element which has a v-else then this is not included in the documentation.

[code]

**Expected behavior**
I would expect the slot to appear inside the documentation alongside the others defined in the comments.

[2019-03-15 13:27] elevatebart commented on #321
I am on it, I had a little fight with lerna yesterday and I thought I had won apparently Lerna is a very resilient beast... Appropriate I guess.

[2019-03-15 13:28] elevatebart commented on #131
I will add both your recipes to the cookbook

[2019-03-15 13:43] elevatebart commented on #321
I appreciate you guys waiting 3.9.3 is out and should be better

[2019-03-15 13:43] #321 closed

[2019-03-15 13:46] wmartins commented on #321
Thanks for your effort @elevatebart!

Lerna can be painful sometimes, happy you won that fight!

[2019-03-15 14:03] elevatebart commented on #322
Hello @seanzi86
Just to confirm what I suspect is the bug, is your v-else on the root of your template?
[code]

If it is the case, the `vue-template-compiler` is a bit uncool with me here. It is not parsing this template correctly and only parsing the first iteration.

I have created a PR to have it tested [here](https://github.com/vue-styleguidist/vue-styleguidist/pull/324)

[2019-03-15 15:11] seanzi86 commented on #322
Hello @elevatebart
Thanks for the quick reply.

Currently I am just testing out using the [buefy](https://buefy.org) components.
The v-if is switching out the table body depending on if data is present.
Below is a cut down snippet

[code]

The component in question can be seen [here](https://raw.githubusercontent.com/buefy/buefy/dev/src/components/table/Table.vue)

[2019-03-15 16:17] elevatebart commented on #322
Great catch !! I did not know that was the way if structure were handled in vue flavored ASTs.
Thank you so much. It is testes and it works now.

[2019-03-15 19:08] #322 closed

[2019-03-16 11:45] pipiobjo opened #326 "vuetify sample is not working"
**Current behavior**

I tried to get the vuetify  example and get stuck with following error:

[code]
[code]

also starting it directly form the samples does not work:

[code]

[code]

In both cases there is no Button Component viewable in the started dev-server

![image](https://user-images.githubusercontent.com/12214945/54474752-0d716c80-47e9-11e9-98a2-8347cfa75f7d.png)

[2019-03-16 19:08] elevatebart commented on #326
Hello @pipiobjo

I changed the way we pack styleguidist recently. It now needs yarn to benefit from its workspaces feature.

To make the monorepo work you can use yarn.

I will try using your second technique. I think there is an issue in finding out where mixin components are relative to the current component. I will check the example in isol’action.

[2019-03-17 00:37] #315 closed

[2019-03-17 15:59] elevatebart commented on #326
I just checked the example.
It is working with npm and Yarn on MacBook 2012 with Mojave.

Would you mind sharing your OS and your version of nodejs?

[2019-03-18 02:58] #108 closed

[2019-03-18 16:10] nicooprat opened #335 "Scoped styles break pseudo selectors"
**Current behavior**

Looks like scoped attribute messes with `before/after` pseudo selectors, here's the current output:

[code]

**Expected behavior**

The second selector should be:

[code]

Related: https://github.com/vue-styleguidist/vue-styleguidist/pull/93

[2019-03-18 18:09] #306 closed

[2019-03-18 19:42] JessicaSachs commented on #305
For some more context @elevatebart, @Emit is in the same class of enhancements as @Prop. They're from the same package.

[2019-03-18 22:46] elevatebart opened #338 "finish vue-docgen-api documentation on the website"
The documentation on the websitesays doc in progress. we need to do something about it.

https://vue-styleguidist.github.io/Docgen.html

[2019-03-18 22:47] elevatebart opened #339 "add SEO to the documentation"
Google should pick up the website before the repo.

[2019-03-19 01:07] lukenofurther commented on #304
@elevatebart @JessicaSachs I've incorporated my changes into my fork of vue-styleguidist. Have a look at the remote-sections example I've added:

https://github.com/lukenofurther/vue-styleguidist

This is obviously just a POC at this stage and is very disruptive to the API of the main script because it converts it into an asynchronous function. I'd love to hear what you think.

[2019-03-19 04:37] #335 closed

[2019-03-19 16:58] #7 closed

[2019-03-20 22:06] CalebJTSmith opened #345 "Is there a way to show a list of options available for a prop?"
I have a few components with props that are basically an enum of options, but usually have 6-10 different options to choose from. They remind me of the button props for `appearance` like you see here:

![image](https://user-images.githubusercontent.com/3040113/54722337-4e8fb680-4b32-11e9-91a2-3aa6a18aaf90.png)

I can lay them out in the description for the prop, but I'd like to split them to give

[2019-03-21 16:05] elevatebart commented on #221
Hey @rafegoldberg, I was looking into your issue and I unfortunately cannot do much about it.

Natively out fo the box, CodeMirrorr only accepts a few key bindings and if it does not find the one specified, it will crash exactly like what you have.

https://github.com/codemirror/CodeMirror/blob/05490c8c40584b06f4cd0ba88c9c2a59f32af5d6/src/edit/options.js#L92-L95

Let me investigate how to install

[2019-03-21 17:13] elevatebart commented on #221
The only thing you have to do to fix your bug is somehow import the sublime keymap in the package.

either in the [rootJsx](https://vue-styleguidist.github.io/Configuration.html#renderrootjsx) file or in one of the components you customized.

[2019-03-21 18:39] rafegoldberg commented on #221
@elevatebart hmm, hadn’t thought to try that; thanks for the info. Haven’t tested it out yet, but that makes sense to me! Thanks for looking in to this.

[2019-03-21 18:39] #221 closed

[2019-03-21 23:07] elevatebart commented on #251
Hello @pshendry, Evan works on a mac. Therefore all his slashes are normal. yours are backslashes.

I fought all day with webpack today about it. There is an issue in their regular expression that assumes your OS to be a Mac therefore all `buble/dist/whatever` are never compiled... that is unfortunate indeed.
You can go ahead and creat a PR to vue-cli if you want this fixed fast. I will probably g

[2019-03-21 23:10] elevatebart commented on #121
Hello @patric-eberle
I will consider this issue solved given the previous comment,
If you find this issue again please post another issue here.

Thank you again

[2019-03-21 23:10] #121 closed

[2019-03-22 13:17] #251 closed

[2019-03-25 18:29] pipiobjo commented on #326
Hi,
of course, OS is Ubuntu 18.04

[code]

[code]

[code]

[2019-03-25 19:16] jangarcia opened #354 "Hot reloading functional components doesn't re-render them in place"
**Current behavior**

Hot reloading works for functional components as well, but unlike non-functional components, template changes in single file functional components don't trigger a re-rendering of the preview until you change the page/route and then return. On the other hand, changes in the style or docs  block immediately update the preview.

**Expected behavior**

Functional components shoul

[2019-03-26 09:24] dgjing commented on #44
I use element-ui in the project. It has the same error '[Vue warn]: Unknown custom element: <el-menu> - did you register the component correctly? For recursive components, make sure to provide the "name" option.'
I set reuire options, in the styleguide.config.js, but it did not work. How can I fix it ?

[2019-03-27 04:06] rinobatin opened #357 "@displayName not working?"
I modified Button.vue in ./examples/basic (commit 5f959c8) by adding `@displayName BestButton`. However, the menu entry and heading still display "Button".

[code]

[2019-03-27 07:54] elevatebart commented on #357
Thanks, @rinobatin. I think this is my mistake. I get confused between the `tags` member and the root.

We had the following:

[code]

while I was expecting

[code]

sorry again, the fix is coming.

[2019-03-27 08:13] elevatebart commented on #354
thank you @jangarcia, this was a hard one to catch.

[2019-03-27 08:19] elevatebart commented on #354
The [Preview](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-styleguidist/src/rsg-components/Preview/Preview.js) component is responsible for rendering examples.

If you want to try your hand at it. If not I'll look into it ASAP.

[2019-03-27 08:19] #357 closed

[2019-03-27 14:51] jangarcia commented on #354
Hi @elevatebart, I tried to get to the bottom of the problem, but unfortunately I didn't get very far, so I would leave it up to you. Thanks!

[2019-03-27 21:17] steplov opened #359 "vue-docgen-api doesn't support mixins which are result of function execution"
Hi,
I'm trying to use vue-styleguidist in a project which uses next pattern for mixins

[code]
All these components will be ignored by vue-docgen-api
The same issues happens for nested extend like

[code]

Do you think these cases should be covered as well? And do you have plans to implement this functionality?

Thanks,
Sergey

[2019-03-27 21:54] rinobatin commented on #357
Thanks @elevatebart! Are you going to release a patch soon?

[2019-03-27 22:59] elevatebart commented on #357
Yes either today or tomorrow

Bart Ledoux
Twitter: @bartledoux
Github, Gitter, Discord: @elevatebart

[2019-03-28 01:50] fsblemos commented on #222
Thank you @elevatebart! :tada:

[2019-03-28 10:09] bpeab opened #363 "Parse method fail when $emit event is passed via a variable"
**Current behavior**

We are using `vue-docgen-api` without `vue-styleguidist` and it's working correctly in almost every use case. Recently, we came across the following `TypeError: Cannot read property 'node' of null` error which is fired with the `parse` method.

**To reproduce**

After some investigation, the problem comes with the following code block:

[code]

Note that everywhere else, the

[2019-03-28 10:38] elevatebart commented on #363
Hello @bpeap,

I think I made a mistake in `resolveIdentifier`

In static analysis, I try determining the value of the event identifier by resolving the declaration of the var in the first parameter.

See [this file](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-docgen-api/src/script-handlers/eventHandler.ts#L50) to understand how.

Unfortunately I forgot to protect wh

[2019-03-28 10:40] elevatebart commented on #363
Feel free to open a PR adding a return if the event variable name cannot be resolved

[2019-03-28 10:47] elevatebart commented on #359
Hi @steplov

The engine behind vue-styleguidist (vue-docgen-api) avoids executing components at all costs. It allows it to be really fast to extract documentation.

It relies on static analysis and static resolution to load the docs. I do not know how I would find the documentation for props that are "Constructed". How would docgen find the definition of props that for instance would be given in a

[2019-03-28 11:01] bpeab commented on #363
Hello @elevatebart,

Thanks for you quick response.

Oh I see. I won't have the time today but I'll try to do this tomorrow morning and submit the PR as soon as I've resolved it.

[2019-03-29 04:11] rinobatin commented on #357
Given this example:

[code]

Error is thrown from here [globalizeComponent.js](https://github.com/vue-styleguidist/vue-styleguidist/blob/909684f54c0627d96465e92e77f22d14e787b04b/packages/vue-styleguidist/src/utils/globalizeComponent.js#L15) because "Best Button" is not valid component name.

[code]

[2019-03-29 19:30] HenrikR opened #368 "Dependency vulnerability with js-yaml caused by version of css-loader"
**Current behavior**

When installing `vue-cli-plugin-styleguidist` or `vue-styleguidist` using npm, a recent vulnerability for `js-yaml` is [being reported by npm audit](https://www.npmjs.com/advisories/788). This vulnerability requires a manual review.

Inspecting the `package.json` under `node_modules/vue-styleguidist/package.json` it appears the latest version of vue-styleguidist has an old ve

[2019-03-31 19:20] #363 closed

[2019-04-01 14:34] elevatebart commented on #368
fixed in 3.11.3

[2019-04-01 14:34] #368 closed

[2019-04-11 12:22] lukenofurther commented on #83
This appears to be unresolved still:

https://vue-styleguidist.github.io/sections/

[2019-04-13 14:47] elevatebart commented on #359
Hey @steplov, unless you have immediate intention to work on it, I would like to focus on what we can do now.
I want to close this issue as soon as possible so that it does not lead people to think it is going to happen.
Thank you for your interest in vue-styleguidist

[2019-04-15 14:37] elevatebart commented on #195
Hey guys, since there was no news about it for a while, if you meet this error again, can you please open a new one?

Thank you,

[2019-04-15 14:37] #195 closed

[2019-04-16 10:19] renanbronchart opened #377 "vue-docgen-api cannot parse component with template functional"
**Current behavior**

When launch yarn styleguide command, component functional (<template functional></template>) cause error :
[code]

**To reproduce**

I have the vue-styleguidist@3.11.4

**Expected behavior**

I would like template functional is parse by vue-docgen-api

Thank you very much by advance

[2019-04-16 12:52] elevatebart commented on #377
Hey @renanbronchart ,

Can you share the code of the component that is returning this Syntax error?

The best of the best would be to
- fork this repo
- add an example of non-working template to the [packages/vue-docgen-api/tests](https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/packages/vue-docgen-api/tests) folder
- write one or two tests
- create a Pull Request from the new repo to

[2019-04-18 22:47] feitla commented on #236
maybe set your `lang` to `scss`, e.g. `<style lang="scss" scoped>` the curlies `{...}` would work

[2019-04-19 22:56] feitla opened #381 "Component is not inheriting theme fontFamily"
**Current behavior**

Previewed component is not inheriting theme font-family, and default user agent font is being used instead of the theme font-family

**To reproduce**
https://github.com/feitla/vuecli3
![image](https://user-images.githubusercontent.com/2625677/56447182-9f263b00-62bb-11e9-9acb-a47530e6411b.png)

![Screen Shot 2019-04-19 at 3 05 21 PM](https://user-images.githubusercontent.com/2

[2019-04-19 22:56] feitla opened #382 "Component is not inheriting theme fontFamily"
**Current behavior**

Previewed component is not inheriting theme font-family, and default user agent font is being used instead of the theme font-family

**To reproduce**
https://github.com/feitla/vuecli3
![image](https://user-images.githubusercontent.com/2625677/56447182-9f263b00-62bb-11e9-9acb-a47530e6411b.png)

**Expected behavior**
The rendered example/components should use the theme fontFami

[2019-04-19 23:02] #382 closed

[2019-04-20 15:27] elevatebart commented on #381
Hello @feitla

Thank you for the two PR, docs are always the hardest to maintain alone.

Regarding your issue:
The showcased components appear in the same way they would on a real website. The `theme` configuration applies to the style guide, the container, not the content. I will update the description in the docs as it is not explained.

To apply a font-family to all components, you can use an e

[2019-04-20 15:49] #381 closed

[2019-04-21 11:34] m4n1ok opened #385 "Render preview component inside an iframe"
Hello,
Is there anyway to render a component inside an iframe ? It could be useful for components responsive behaviours.
Thanks

[2019-04-21 17:23] elevatebart commented on #377
This very much looks like the script of the component you are sending to `vue-docgen-api` cannot be parsed by babel because of a `;`.

Does your Button component run?

[2019-04-21 17:26] elevatebart commented on #385
I think this would be a good candidate for a plugin.
In this plugin, we would override the `Preview.js` component using an iframe and web workers.

It is a pretty heavy task because iframes are the hell of javascript.

[2019-04-21 19:51] #177 closed

[2019-04-21 21:33] elevatebart commented on #245
We are publishing examples here using GitHub pages. The process is rather simple as long as you know it exists.

1. Chose where to host the sources (a `docs` branch on your current repo or a `.github.io` repo)
1. turn "GitHub Pages" ON where you chose. To do that go to settings > options > GitHub Pages, the root of the chosen repo will be your `wwwroot`.
1. Last, automate the deployment process. T

[2019-04-23 08:04] gaconkzk commented on #290
hi @gjuchault,  I'm having same problem, using the cli plugin `vue-cli-plugin-styleguidistwith vue-cli 3
my vue.config.js:
[code]
I have to add your `dangerouslyUpdateWebpackConfig` function into styleguide.config.js for work around.
Did you have any better solution?
Very appreciated.

[2019-04-23 11:01] elevatebart commented on #290
Hello @gaconkzk

Do you have repository with a reproduction? Can you share your package.json ?

[2019-04-23 18:32] feitla opened #391 "Components used/documented in kebab case get component register error"
**Current behavior**
Our component file names are in PascalCase but we register and use them in kebab-case. The component `name:` is also kebab-case. e.g.

[code]

**To reproduce**

In `styleguide.config.js` I am setting the components value to the following, and it finds all the components correctly:
[code]

Register a component that has a file name in PascalCase, but in the docs or example using

[2019-04-23 19:11] #391 closed

[2019-04-23 19:58] feitla commented on #391
@elevatebart do you have an idea of when this patch will be released? thanks for your work!

[2019-04-23 19:59] feitla commented on #391
Nevermind! you're on top of it. Appreciate it.

[2019-04-23 22:00] #245 closed

[2019-04-24 13:13] dmitriydementor opened #394 "vue-docgen-api cannot parse warning in a typescript project"
**Current behavior**

Project is compiled via webpack correctly, but when I run styleguidist it throws wierd errors. Stacktrace points to line where there is no such code.

Here is this line in the component:

![image](https://user-images.githubusercontent.com/11924055/56659702-80061f80-66a6-11e9-9ede-bb8f15c00697.png)

**To reproduce**

https://github.com/dmitriydementor/styleguidist-error-exampl

[2019-04-24 23:52] elevatebart commented on #394
Hey @dmitriydementor

I believe I found the issue. By default docgen expects your code to be JSX capable. It thinks your `<any>` are HTML tags and fails there parsing.

Replace `(<any>window)` with `(window as any)` and you should be fine.
There is 2 issues you have found:

1. The error line the parser gives is wrong, this will be fixed very soon
1. There is no way to disable the JSX capabilities.

[2019-04-25 08:21] dmitriydementor commented on #394
Hey @elevatebart

I replaced `(<any>window)` with `(window as any)` and it helped.

But there are more errors are showing. The most frequent is

I've updated https://github.com/dmitriydementor/styleguidist-error-example with components that cause new errors, maybe it will help you fix the `nojsx` issue.

Also as you can have noticed, most of components take csrfToken from window global object's pr

[2019-04-25 13:29] elevatebart commented on #394
If you want to define anything in the global scope, the best is to write it in a new `csrf.js` file:

[code]

Then require the new file in your styleguide using the [require](https://vue-styleguidist.github.io/Configuration.html#require) option.

Tell me if it helps.

P.S.: The option is going to be called `jsxInComponents` and will be `true` by default.
Just set it to false in your `styleguide.co

[2019-04-25 14:05] elevatebart commented on #394
https://vue-styleguidist.github.io/Configuration.html#jsxincomponents

[2019-04-26 12:52] dmitriydementor commented on #394
@elevatebart Yes `jsxInComponents: false` helped but issue with csrf token is still present

I've created separate file laravel-mock.js

`
console.log('csrf');

window.Laravel.csrfToken = {
    csrfToken: ''
};
`
and required it in styleguide.config.js like this:

`
require: [
        './laravel-mock'
    ],
`
![image](https://user-images.githubusercontent.com/11924055/56807183-c12d3980-6836-11e9-

[2019-04-26 14:26] elevatebart commented on #394
The `styleguide.config.js` changes are not watched. So if you change anything in styleguide.config.js, make sure to stop styleguidist and restart it.
In order to illustrate my point, I added an example in the examples section.
You can see what I had in mind.

Hope it helps

[2019-04-28 11:05] robcresswell opened #400 "Broken links"
Multiple links in the docs refer to `https://vue-styleguidist.github.io/Components.html`, when they should refer to `https://vue-styleguidist.github.io/Examples.html`

For example, the sections documentation https://vue-styleguidist.github.io/Configuration.html#sections has a dead link.

[2019-04-28 15:56] elevatebart commented on #339
Done !!!

[2019-04-28 15:56] #339 closed

[2019-04-28 15:57] elevatebart commented on #400
Good catch thank you!!

Could you write a Pull Request ?

[2019-04-29 08:18] robcresswell commented on #400
Sure thing

[2019-04-30 09:04] donaldshen opened #404 ""VIEW CODE" doesn't update when page changes"
**Current behavior**

when people switch page, the "VIEW CODE" block doesn't update

**Expected behavior**

the "VIEW CODE" block should update when page route changes

![Kapture 2019-04-30 at 16 58 15](https://user-images.githubusercontent.com/19591950/56951026-5b5bed00-6b69-11e9-8142-235b2f462e9e.gif)

[2019-04-30 13:31] sobolevn opened #405 "Styleguide does not work with `sections`"
**Current behavior**

**To reproduce**

I am using this configuration:

[code]

Change it to this configuration:

[code]

And now all components do not show up. Only white screen is shown.

**Expected behavior**

I expect it to work the same way.

[2019-04-30 14:03] elevatebart commented on #405
Hey @sobolevn, if you open the console of your browser do you get any errors?

I can see one thing that might be not perfect in this config.

You should not have a section without a name

[code]

why not do that ?

[code]

I hope this is helpful. I will try to make the error message more explicit.

Thank you for reporting ;)

[2019-04-30 14:06] elevatebart commented on #404
Hello @donaldshen

That's a spikey one you found there.
Can you share your `styleguide.config.js` file and the version you are on ?

Thank you in advance.
Bart

[2019-04-30 14:19] elevatebart commented on #400
I used https://www.brokenlinkcheck.com/ and fixed most of the issues I found. Hope this is all better.
Thank you for reporting it.

[2019-04-30 14:19] #400 closed

[2019-04-30 14:24] elevatebart commented on #377
Hello again @renanbronchart,

Do you still have the issue ?

[2019-04-30 14:25] #338 closed

[2019-04-30 19:04] sobolevn commented on #405
Adding name does not change anything. Still the same. I do not have any errors in my browser's console.

[2019-04-30 19:46] elevatebart commented on #405
Why do you have a section with nothing ?

[2019-04-30 20:05] elevatebart commented on #405
Hey @sobolevn, do you have the `defaultExample` flag set to true?

[2019-04-30 20:26] elevatebart commented on #405
@sobolevn, I keep trying my hardest to reproduce your bug, can you help me?

Could you modify [this example](https://github.com/vue-styleguidist/vue-styleguidist/tree/try-failingsections/examples/sections) with enough of your setup so that it fails?

Here is how to proceed:
1. hit fork on top of the repo => will create a repo in your github
1. clone the repo on your local machine
1. checkout the `

[2019-04-30 21:41] sobolevn commented on #405
@elevatebart my setup is quite different:

[code]

I run it as `npm run styleguide`:
[code]

The rest of source code is available at https://github.com/wemake-services/wemake-vue-template

[2019-04-30 21:59] elevatebart commented on #405
@sobolevn thank you so much !!! that is very helpful.
Might I add, this is a clever way to set it up.

[2019-04-30 22:03] elevatebart commented on #405
May I PR on your repo?

[2019-04-30 22:10] sobolevn commented on #405
@elevatebart thanks :)

Sure, fill free if that helps.

[2019-04-30 22:14] elevatebart commented on #405
for the functions `serveStyleguide` and `buildStyleguide` I have created the binutils member. I forgot to document it in the [API page](https://vue-styleguidist.github.io/docs/API.html). I will fix it soon.
[See the example here](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-cli-plugin-styleguidist/index.js)

Here is what I would replace last 30 lines with

[code]

[2019-04-30 22:24] elevatebart commented on #405
Can you set [verbose](https://vue-styleguidist.github.io/Configuration.html#verbose) to true and [logger](https://vue-styleguidist.github.io/Configuration.html#logger) as logging everything in the console and share your logs?
The best format to share it would be a text file.

[2019-04-30 22:31] elevatebart commented on #405
Another question, why do you need to build nuxt pages before you display components? Is there some dependency from your components to the nuxt server?

[2019-04-30 22:31] #268 closed

[2019-04-30 22:39] sobolevn commented on #405
@elevatebart I am not sure. But it was not working with out it. I would be happy to remove it.
Here's the result I am getting: https://timelessis-git-master.kira-bot.now.sh/styleguide/index.html

[2019-04-30 22:39] elevatebart commented on #209
Seems to work nice on 3.13.3 + Windows 10 + PowerShell + vscode. If when you update it still does not work, can you please post a new issue.

Thank you ;)

[2019-04-30 22:40] #209 closed

[2019-04-30 23:15] elevatebart commented on #405
Even if styleguidist is able to demo vue components that NuXT displays, it cannot use the NuXT environment. For instance, NuXT routing will conflict with styleguidist routing. So, as soon as you start having multiple pages in styleguidist, NuXT is going to go... *nuts* and break your style guide.

This might be very well happening here. You probably will prefer a more `normal` style guide.
1. Use

[2019-04-30 23:17] elevatebart commented on #405
You can see in the [example here](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/examples/nuxtjs/styleguide/styleguide.root.js) how I mocked the NuXT $axios plugin.

[2019-05-01 00:42] donaldshen commented on #404
The whole project: https://github.com/FEMessage/el-data-tree

vue-styleguidist is locked at 3.11.4. Can't figure out why the latest version keeps crashing at the demo page

[2019-05-01 06:09] robcresswell commented on #400
Oh man, thanks! Sorry I didn't have time to do make a PR

[2019-05-01 14:08] elevatebart commented on #165
If you check out this issue https://github.com/vue-styleguidist/vue-styleguidist/issues/290 or have a look at the [cookbook routing receipe](https://vue-styleguidist.github.io/docs/Cookbook.html#use-vue-styleguideist-with-components-that-contain-routing) you will find a way around your issue. We have not excluded [adding an iframe mode](385) in the next major version.

[2019-05-01 14:08] #165 closed

[2019-05-02 11:06] dmitriydementor commented on #394
@elevatebart , yes it helped, thanks. Styleguide compiles successfully, but the new error appears in console

![image](https://user-images.githubusercontent.com/11924055/57071160-422a7c00-6ce2-11e9-9554-f62c6726ed19.png)

Here is the Notification adapter code

[code]

And then in RemovList file this adapter is being imported and created like this:

[code]

During writing this reply I tried to defi

[2019-05-02 11:06] #394 closed

[2019-05-02 21:03] renanbronchart commented on #377
Hello @elevatebart .
Sorry about the wait.

Yes I have still this issue.
This problem appear only when use functional component

[2019-05-02 21:13] elevatebart commented on #377
@renanbronchart please set up a quick reproduction repo

[2019-05-03 11:53] dharmatv opened #407 "Failed to execute 'appendChild' on 'Node': This node type does not support this method"
I integrated Vue-styleguidist with my project I am getting errors when I wrote readme file with single vue file like

[code]
 and styleguide.config.js

[code]

script.js file

[code]

please find out screenshot for errors

https://snag.gy/ENBTZm.jpg

https://snag.gy/ySL1sC.jpg

Please help me anyone

[2019-05-03 12:34] elevatebart commented on #407
Hey @dharmatv, Have you tried removing the empty style tag, it could be that it is not well protected inside of vsg.

[2019-05-03 12:59] dharmatv commented on #407
hello @elevatebart i tried without style tag again i am getting different errors

SyntaxError: Missing initializer in const declaration

Please find out below screenshot for errors

https://snag.gy/hMsfYZ.jpg

[2019-05-03 17:46] elevatebart commented on #407
Hello @dharmatv

Can you copy paste the messages that you get instead of snapshots of errors?
The best is always to create a repo where the error happens and send the link to it

After trying your component out, I think you forgot to import `acCollection`.
Else, how does it get injected in your component?

I hope this helps.

Bart

[2019-05-04 03:25] dharmatv commented on #407
Errors:

[code]

[2019-05-04 03:30] dharmatv commented on #407
I import the accollection component in globally at script.js file please check above file.

[2019-05-04 14:58] elevatebart commented on #407
Hello @dharmatv

I did not explain it well, I apologize for it.
Using VueJs, to have a component available in your templates, you can do one of two things,
 - either register acCollection globally. Which is what you are doing in require.js
 - or import your component locally and add it to the `components` member of your config object like
[code]

In here acCollection is considered a variable or a

[2019-05-08 05:41] dharmatv commented on #407
Hello @elevatebart

i am registering component as globally in script.js file. but again i am getting same errors,

[2019-05-09 08:58] davebgreen commented on #280
I'm experiencing with Vue Cli 3 and styleguideDir = 'designsystem/dist',  that when I run styleguide:build it also creates a /dist directory on the project root.   Problem then is this overwrites the build of the application itself (seems to just be a direct copy of files from VUE Cli /public folder).    Any clues as to why this may occur?

[2019-05-09 15:23] andywd7 opened #411 "Updating past 3.12.0 produces typeerror preview component"
**Current behavior**

When updating my vue-styleguidist devDependency to anything higher than 3.12.0 I get the error below in the browser. 3.12.0 builds fine with no errors.

TypeError: Cannot read property 'default' of undefined
    in Preview (created by Context.Consumer)
    in PreviewWithComponent (created by Playground)
    in div (created by ParaRenderer)
    in ParaRenderer (created by Styl

[2019-05-10 14:44] elevatebart commented on #411
Hello @andywd7, I just cloned your repo, then run `npm ci` then `npm run styleguide` and I do not see your error in the browser.

I am on a Mac with High Sierra, running the build with vscode on node 10.

What are the list of command you suggest I use?
Can you tell me if you remove node_modules and re-install does it still fail?
What version of `npm` are you using?

[2019-05-10 14:54] elevatebart commented on #411
I see that you do not have a `styleguide.config.js`. Therefore, every config is taking the defaults.
The way we search for components by default is "components" or "Components". On windows, it has a tendency to be very bridle. We can't change it because it would break some mac users configurations. I suggest as a first step, that you add this file back with the following content:

[code]

It helpe

[2019-05-10 14:57] elevatebart commented on #405
@sobolevn do you still see an error?

[2019-05-10 15:42] andywd7 commented on #411
Hi @elevatebart,
The `styleguide.config.js` file is in the config folder. You have to `npm run styleguide` to hopefully get the error.

I'm on a Mac with Mojave running with vscode on node v10.15.0. I have tried removing node_modules and package-lock.json. I'm using npm 6.4.1. I will try the process again and get back to you to double check my setup and the error.

Thank you

@andywd7

[2019-05-11 08:01] sobolevn commented on #405
Nope, since I use single section for now.

[2019-05-13 08:15] andywd7 commented on #411
@elevatebart,

Just to check, did you change the `vue-styleguidist` version to `3.13.0` or `3.13.1`? This is the working repo so I left it as 3.12.0.

I downloaded the repo separately again changed the `vue-styleguidist` version to `3.13.0` did `npm i` and then `npm run styleguide` and still get the same error!?

Thanks

[2019-05-13 11:52] andywd7 commented on #411
Just noticed you get what looks like the same error in the Section example if you click the [Second file](https://vue-styleguidist.github.io/sections/#/Documentation/Files/Second%20File) item in the side navigation.

[2019-05-13 14:18] elevatebart commented on #411
Thank You, Thank You !! 🙏 this helps a lot. I will investigate.

[2019-05-13 14:19] elevatebart commented on #411
and the last delivered seems to be [3.13.1](https://www.npmjs.com/package/vue-styleguidist)

[2019-05-13 15:09] #411 closed

[2019-05-14 13:15] sem4phor opened #413 "Support TypeScript Prop types"
**The problem**

Since this [PR](https://github.com/vuejs/vue/pull/6856) is merged Vue supports prop declaration with typescript types (Without using the class-based syntax). for example:

[code]

The vue-docgen-parser returns undefined in this case resulting in types being not documented in the generated styleguide.

**Proposed solution**

Extend the parser to support the Typescript prop types wh

[2019-05-14 14:57] bummzack commented on #405
Got the same issue, but only with `3.13.x` (tried with `3.13.1` and `3.13.2`). Downgrading to `3.12.0` made the issue disappear.

[2019-05-14 15:35] elevatebart commented on #405
I delivered 3.13.2 yesterday. Did you try with it?

[2019-05-14 17:20] elevatebart commented on #377
Can you please share the code of your component?

[2019-05-14 18:20] bummzack commented on #405
Yes, I did. Errors are in `3.13.1` and `3.13.2`. I did not try `3.13.0`

[2019-05-14 18:33] bummzack commented on #405
Steps to reproduce:

[code]

Open `http://localhost:6060/` in your browser, open the console and observe error messages like:

Also navigate to the "Placeholder" in the styleguide and observe how the component isn't being rendered in the styleguide.

Now stop the styleguide server, run:
[code]

Open `http://localhost:6060/` in your browser again. Observe how the error messages are gone and
the "Pl

[2019-05-14 20:40] elevatebart commented on #405
Thank you !! @bummzack

[2019-05-14 20:43] elevatebart commented on #405
There was definitely a big issue here. will be fixed in 3.13.3,
VSG was only picking up the first section registered.

Sorry about that

[2019-05-14 20:53] #405 closed

[2019-05-15 18:43] Guobacai opened #416 "vue-docgen-api shows warning while parsing the component with mixin"
I am encountering an old [issue](https://github.com/vue-styleguidist/vue-docgen-api/issues/92).

Here is my component definition.
[code]
When I run the style guidist, I got the following warning:
_Warning: vue-docgen-api cannot parse src/components/dropdown-menu/DropdownMenu.vue: Error: No suitable component definition found_

I tried the solution and it solved the problem. I think it should have

[2019-05-15 21:02] #416 closed

[2019-05-20 12:25] ondrej-janosik opened #420 "styleguide:build does not kill the process"
**Current behavior**
When I run the script "styleguide:build" (vue-cli-service styleguidist:build), the process does not exit after successful build. I need to manually exit with `ctrl + c`. This is not suitable for any CI/CD (docker build for example)

**Expected behavior**
Process exits after a successful build. Or we can have a CLI argument for this behavior. Or any other way hot to know when t

[2019-05-20 23:21] elevatebart commented on #420
Hello @ondrej-janosik,
During the CI that happens on Travis CI, we build and publish an example using the vue cli plugin.
Could you set up a repo where you reproduce it?
I am curious about at least

- your node version
- The version of the CLI you are using
- The contents of your `vue.config.js` file
- Your `styleguide.config.js` file
- The other CLI plugins you are using

Thank you in advance,
Ba

[2019-05-21 09:54] dharmatv commented on #407
Hello @elevatebart Thanks for your reply, and sorry for the late response. can you please find out below attachement(.zip) for repo

I don't have time to create new repo in sand box, please don't mind
[styleguide.zip](https://github.com/vue-styleguidist/vue-styleguidist/files/3201902/styleguide.zip)

[2019-05-21 20:02] elevatebart commented on #407
Hello @dharmatv

I created a repo here https://github.com/elevatebart/styleguide-gravatar that reproduces your issue.
I traced it back to react-styleguidist 9.1 and the fact that they stopped loading all components everywhere. Unfortunately react-styleguidist loads components `const my-component$0 = require('my-component')`. The dash seems to break it all.

I will try to remove it in your code in

[2019-05-21 20:56] elevatebart commented on #407
If you look at the name field of the gravatar component in the fix branch it does not have a dash anymore instead its name is acGravatar and it works.
I will do a special treatment on components to have this fixed.
In the meantime, you can try removing the dahses.

Bart

[2019-05-22 05:20] mtlehtin opened #421 "Error: import or require() statements can be added only by editing a Markdown example file"
Hi!

I updated vue-styleguidist from 2.1.2 to 3.13.4. After the update requiring json-data for the documentation examples in the markdown does not work. The example below works on 2.1.2 but is broken on 3.13.4. I did not notice any comments related to this in the release-notes.

My markdown looks something like this:

[code]

**Current behavior**

Does not render the component, but it renders an e

[2019-05-22 13:55] #407 closed

[2019-05-22 14:01] elevatebart commented on #421
Have you tried, stopping and restarting styleguidist?
The hot reloading engine might be a little stupid.

This being said, I just added an [example where I test this exact feature](https://github.com/vue-styleguidist/vue-styleguidist/pull/425).
Bad news for both of us, it works.

Would it be possible for you to share a repo where you reproduce this issue?
I would as well love to know what version

[2019-05-22 20:42] elevatebart commented on #377
Hello @renanbronchart,

I would be happy to give you a hand. Please reach to me on discord.
There are some components here that are functional and working fine.

Bart

P.S.: If your bug still happens on 3.13.5 please reopen this issue after sharing the code for your component.

[2019-05-22 20:42] #377 closed

[2019-05-22 21:14] jangarcia commented on #421
I have the same problem since updating to 3.11.0, which contains an update of the react-styleguidist dependency to 9.0.4. Our problem seems to be related to [this issue (https://github.com/styleguidist/react-styleguidist/issues/1278), and the root cause seems to be [this npm bug](https://npm.community/t/packages-with-peerdependencies-are-incorrectly-hoisted/4794), see [this comment](https://github

[2019-05-22 21:36] elevatebart commented on #421
I believe if you delete your package-lock.json and you node_modules folder, then re-install the whole thing can fix it.

[2019-05-23 05:57] mtlehtin commented on #421
Hi! Thanks for the answers. I tried these:

- deleted package-lock.json and re-install
- updated eslint and jest which were using older acorn version
- updated acorn@6.1.1 to my package.json

package-lock and node_modules deleted in each case. None of these helped. The problem still exists.

My project is based on [VueDS.com](https://vueds.com/) boilerplate-project.

Original:
[code]

After jest a

[2019-05-23 11:00] elevatebart commented on #421
Would you mind sharing your package.json?

Bart Ledoux
Twitter: @bartledoux
Github, Gitter, Discord: @elevatebart

[2019-05-23 12:07] ondrej-janosik commented on #420
I found the issues when I was collecting all the information for you. The problem was caused by plugin **vue-cli-plugin-webpack-bundle-analyzer**. When I turned this off all works as excepted.

![image](https://user-images.githubusercontent.com/18070427/58251488-0ecc9180-7d64-11e9-93f1-a91b6321035a.png)

[2019-05-23 12:13] elevatebart commented on #420
This definitely could happen. By default, WebpackBundleAnalyzer will be in watch mode if the ENV variable is not set. So it will block the closing of the process to continue analyzing.

Have you tried different options for the analyzer?

I think it would be worth it to have an example with the analyzer so that others can benefit from your struggles. Please Let me know if any other modesof the anal

[2019-05-23 18:24] RyanHavoc commented on #421
I also have the exact same issue. Anything after version 3.10.2.

[2019-05-23 18:41] elevatebart commented on #421
@RyanHavoc Would you mind setting up a minimum reproduction repo and put the link here.
That would help a lot fixing the issue.

Bart

[2019-05-23 19:10] RyanHavoc commented on #421
@elevatebart Sure. I've created this: https://github.com/RyanHavoc/vue-sg

Note the example in the cookbook for accessing components in markdown files: https://vue-styleguidist.github.io/docs/Cookbook.html#how-to-hide-some-components-in-style-guide-but-make-them-available-in-examples

I see this:
![image](https://user-images.githubusercontent.com/824169/58279520-861b1900-7d96-11e9-8405-c4a3d2a607f

[2019-05-23 19:53] elevatebart commented on #421
I found the issue and it was easy to fix ;)
Thank you @RyanHavoc for setting up the repro

[2019-05-23 20:01] #421 closed

[2019-05-23 20:08] RyanHavoc commented on #421
@elevatebart Great! When will the fix be released?

[2019-05-23 20:15] RyanHavoc commented on #421
@elevatebart Hmm... tried updating the file you changed locally for me and now I get this error on the command line when trying to start the styleguide:

![image](https://user-images.githubusercontent.com/824169/58283278-ccc14100-7d9f-11e9-8a3f-96a0b7bb8e9d.png)

Same repo...

[2019-05-23 20:37] elevatebart commented on #421
This is to be expected. From the ReadMe file, AppButton.vue can't be found.

You could replace it by `require('./AppButton.vue').default`.

According to the [doc](https://vue-styleguidist.github.io/docs/Components.html#loading-and-exposing-components), all components are loaded by default unless you use the [magic option to only load the local one](https://vue-styleguidist.github.io/Configuration.

[2019-05-23 20:38] elevatebart commented on #421
This

[code]

becomes this

[code]

should be this

[code]

[2019-05-23 20:41] RyanHavoc commented on #421
This is in opposition to the documentation though?

https://vue-styleguidist.github.io/docs/Cookbook.html#how-to-hide-some-components-in-style-guide-but-make-them-available-in-examples

And If I just have:

[code]

I the readme, the button doesn't render:

![image](https://user-images.githubusercontent.com/824169/58284876-82da5a00-7da3-11e9-8599-320073e5fa3f.png)

[2019-05-23 20:45] elevatebart commented on #421
You are absolutely right I need to update this recipe of the cookbook.
Did step 2 make it work?

[2019-05-23 20:46] RyanHavoc commented on #421
@elevatebart I'm afraid not. This is what I see:

![image](https://user-images.githubusercontent.com/824169/58285031-e1073d00-7da3-11e9-84f6-ff44a183fab2.png)

![image](https://user-images.githubusercontent.com/824169/58285061-f11f1c80-7da3-11e9-8fa4-275aef5ed6bc.png)

![image](https://user-images.githubusercontent.com/824169/58285090-ff6d3880-7da3-11e9-804e-b978ef67a1f2.png)

![image](https://use

[2019-05-23 20:51] elevatebart commented on #421
Good point, I forgot about the hiding of components.

[2019-05-23 22:01] elevatebart commented on #421
I created a new PR for it:

https://github.com/vue-styleguidist/vue-styleguidist/pull/428

[2019-05-23 22:03] RyanHavoc commented on #421
Great. Thanks for you time on this. Any idea when this will be merged and available as a new version?

[2019-05-23 22:09] elevatebart commented on #421
Tonite is bae’s b-day so probably tomorrow

Bart Ledoux
Twitter: @bartledoux
Github, Gitter, Discord: @elevatebart

[2019-05-24 11:36] mtlehtin commented on #421
Nice! Thank you guys!

[2019-05-24 12:48] RyanHavoc commented on #421
@elevatebart What timezone are you in? Just wondering if there's an ETA on the merge.

[2019-05-24 13:09] elevatebart commented on #421
Chicago is CT, merge is incomming

[2019-05-27 07:50] donaldshen opened #430 "slot detection breaks with v-else"
**Current behavior**
[code]
neither foo nor bar slots being shown in the style guide. seams like @slot cannot work under any v-else block

**Expected behavior**
For a scoped slot to work under v-else

[2019-05-27 08:00] donaldshen commented on #430
the same as #322

[2019-05-27 09:20] donaldshen opened #431 "slot breaks with slot-scope"
**Current behavior**
vue-styleguidist@3.11.4
same as #268
[code]
**Expected behavior**
For slot-scope to be detected

[2019-05-27 17:42] elevatebart commented on #430
Hello @donaldshen, I updated the vocabulary you used as it does not respect the Code of Conduct.

[2019-05-27 18:47] elevatebart commented on #430
I will investigate this afternoon

[2019-05-27 23:55] elevatebart commented on #431
The problem: vue-template-compiler does not return all comments as its structure in the two cases that you mentioned is a little odd.

I will have to change the template parser and all handlers to use sax-js which could result in a breaking change, in order to fix the issues you are having. If you want to make it work fast, you can clone this repo and try to make switch the compiler for sax-js.

B

[2019-05-28 03:52] elevatebart commented on #404
I think I 've found the issue here. More news tomorrow

[2019-05-28 14:41] elevatebart commented on #404
the easy fix is to use the [simpleEditor](https://vue-styleguidist.github.io/Configuration.html#simpleeditor) flag. Since React Styleguidist is now using prism, It will make everything work better.

I will try fixing it in codemirror.

[2019-05-28 17:55] #404 closed

[2019-05-28 21:11] dhruvkb opened #435 "Gracefully catch errors in the Preview.js component"
When a use makes a syntax error in CodeMirror, Preview.js breaks down and gives a full-page error message rendering the whole page unusable.
![image](https://user-images.githubusercontent.com/16580576/58512483-d214f600-81ba-11e9-8b5c-2f8b5b92d8bf.png)

The same action performed in React Styleguidist results in the following output.
![image](https://user-images.githubusercontent.com/16580576/585123

[2019-05-29 02:30] JessicaSachs opened #436 "Components aren't showing up when they use require statements"
**Current behavior**

When a component uses any require statement in its `script` block, the code is executed, but the component description or Preview is never rendered in Styleguidist.

**To reproduce**
Create a component that requires a file, instead of imports it.

https://github.com/JessicaSachs/vsg-import-issue/blob/master/src/components/ExternalRequire.vue

**Expected behavior**

The compon

[2019-05-29 02:33] JessicaSachs commented on #436
Cross checking with my Prod styleguidist deploy, all of our components that use require statements in their script blocks are broken.

I'm going to keep going back in VSG versions until I find one where this isn't broken.

[2019-05-29 09:08] towry opened #437 "style tag not working"
I use `vue-cli-plugin-styleguidist` with `vue-cli`.

[code]

My vue.config.js:

[code]

My styleguide.config.js:

[code]

I use `docs` in vue single component:

[code]

![Screen Shot 2019-05-29 at 4 58 14 PM](https://user-images.githubusercontent.com/8279858/58544546-155f7b00-8234-11e9-8fe9-20460d595068.png)

__If I remove the script section in the example, it will raise an error:__

![Screen Shot

[2019-05-29 12:52] aliaksandrkrasnou commented on #174
@elevatebart Do you have any updates on this issue?

[2019-05-29 13:39] elevatebart commented on #435
Overall, styleguidist is using react-styleguidist engine and should not break in the way you describe.

Can you try again in the last version and try isolating a case that would make it break?

Maybe with the same `Push Me` button component?

[2019-05-29 13:50] elevatebart commented on #437
Yep, definitely a bug of my last refactoring... thank you !

[2019-05-29 14:30] elevatebart commented on #174
Hello @aliaksandrkrasnou

I have a made a couple of tests to make sure these were working. I believe it does now.
See [this example](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-docgen-api/tests/components/grid-jsx/Grid.vue)

[2019-05-29 14:31] elevatebart commented on #174
You can even have a look at [those unit tests](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-docgen-api/src/script-handlers/__tests__/slotHandler.ts)

[2019-05-29 14:36] #437 closed

[2019-05-29 15:25] aliaksandrkrasnou commented on #174
@elevatebart thank you!

For jsx render function it's clear. But if I have a render function inside an object, where should I place slot and slot description text for documentation purposes?
[code]

[2019-05-29 20:48] dhruvkb commented on #435
The output I showed was with the the latest version of Vue CLI and Vue Styleguidist in a fresh project. You can even see the same behaviour at https://vue-styleguidist.github.io/basic/ and compare it with the behaviour at https://react-styleguidist.js.org/examples/basic/.

[2019-05-29 21:07] elevatebart commented on #435
I am wondering what you are seeing? Maybe you could make a video for me or a giphy
![cap](https://user-images.githubusercontent.com/5592465/58591364-b72e9a00-822b-11e9-8126-7c427ee702c8.gif)

[2019-05-29 21:08] elevatebart commented on #435
I just figured it out this invalid char was a 0... I will try fixing it.

[2019-05-29 21:22] #435 closed

[2019-05-30 00:27] towry commented on #437
@elevatebart Thanks for the fix. The style issue is gone. but the script issue still there.

![Screen Shot 2019-05-30 at 8 24 14 AM](https://user-images.githubusercontent.com/8279858/58599821-729b1100-82b4-11e9-9ed1-9873348559d8.png)

I had to add an empty `<script>export default {}</script>`block to eliminate that error.

[2019-05-30 10:21] elevatebart commented on #431
To avoid loading multiple libraries, my best bet is to fix the vue template compiler itself. It should return all comments in components.

[2019-05-31 07:21] elevatebart commented on #174
Unfortunately, docgen never executes your code. So there is no way to detect what hides inside an executed function. We could have a flag in the comments where you can force the documentation: Even if no slot is detected, the documentation would still be written.
More news soon

[2019-06-03 20:44] elevatebart commented on #199
how is it now ?

[2019-06-03 20:48] elevatebart commented on #176
should be working fine now ;)

[2019-06-03 20:48] #176 closed

[2019-06-05 23:08] elevatebart opened #448 "Impossible to use scoped slots templates in pure templates"
**Current behavior**

When I do this
[code]

nothing is rendered and I get an error:

[code]

[2019-06-05 23:30] #448 closed

[2019-06-09 14:24] nelsonpjunior opened #451 "StyleGuideRenderer not being replaced"
**Current behavior**

following the example on [Cookbook - How to change the layout of a style guide?](https://vue-styleguidist.github.io/docs/Cookbook.html#how-to-change-the-layout-of-a-style-guide) and trying to replace the `StyleGuideRenderer` the same is not being replaced.

When trying to replace the  `SectionsRenderer` with the examples on [customised](https://github.com/vue-styleguidist/vue

[2019-06-10 08:36] patric-eberle opened #452 "devServer.port from webpack.config conflicts with sockjs"
**Current behavior**

I import my `webpack.config.js` into the `styleguide.config.js`. The same webpack configuration is also used to run Vue in dev mode. The configuration sets the `devServer.port` to `8080` (or, depending on projects, to an other port). When opening the vue-styleguidist in the browser with this configuration, requests get blocked by CORS policy when made to `localhost:8080/sockj

[2019-06-10 09:01] patric-eberle commented on #452
Arg... I just realized, that I had an additional `http-server` running in the background, which seems to have caused the `404`. But without it I still get a `net::ERR_CONNECTION_REFUSED` error based on the same configuration issue.

![new-error](https://user-images.githubusercontent.com/10571945/59184737-0a2f1800-8b6f-11e9-8c45-72cc951db082.png)

[2019-06-10 14:15] elevatebart commented on #452
Did you know that using the [serverPort](https://vue-styleguidist.github.io/Configuration.html#serverport) option, you could change the port in use? We purposely decided not to resolve the port as of now to be able to keep one window open and to avoid forgetting to kill it an have 4 styleguidist running at once.

We (react-styleguidist) might revisit this decision though. Just not in major version

[2019-06-10 14:30] elevatebart commented on #451
Hello @nelsonpjunior,

You ran into a mix of two issues.

The first is a clarification. If you are going to customize the styleguide, you will have to use react components, they will have to be compiled differently than standard. I created an example to illustrate how you can easily do that.

There was as well an issue with the order I was setting the aliases as. Because of this order Logo and sec

[2019-06-10 14:45] #451 closed

[2019-06-10 15:03] nelsonpjunior commented on #451
thanks for the support.

[2019-06-11 12:58] patric-eberle commented on #452
OK, that's fine with me. It's not a critical blocker anyway.

[2019-06-11 12:58] #452 closed

[2019-06-12 18:19] yellowsunday opened #456 "Vue SFC in markdown example is not transformed by Buble, so doesn't work in IE11"
**Current behavior**

If you include a Vue SFC inside a markdown example block, it does not get transformed by Buble, and so doesn't work in IE11 (which would be useful as I want to use the examples in the style guide for browser testing): even a minimal example will fail because the template string is included as a `` template literal.

**To reproduce**

Just a simple example in a .md or <doc>:

[2019-06-13 22:19] elevatebart commented on #456
Good catch will post a fix soon

[2019-06-13 22:19] #456 closed

[2019-06-14 13:20] yellowsunday opened #459 "Event description can be lost if the same event is emitted more than once in the source"
**Current behavior**

If your source code calls $emit with the same event name multiple times, the event description in earlier comments will be replaced by the comment for later $emit calls. If the later comment contains a new description this would be good, but the problem is if there is no comment, then an empty description is used.

**To reproduce**

Very simply:

[code]

**Expected behavior**

[2019-06-14 14:58] elevatebart commented on #459
Should be fixed soon.

[2019-06-14 15:08] yellowsunday commented on #459
thank you!

[2019-06-14 15:34] pjung16 opened #460 "Styleguide:build with nuxtjs not working"
**Current behavior**

Whenever I run `npm run styleguide:build`, it continuously says "building style guide..." and doesn't exit. Even when I press Ctrl + C, the build isn't there like how I saw in other issues.

Here is my styleguide.config.js
[code]

My version of node is `10.16.0` and my version of npm is `6.9.0`.

Also, here is my vue.config.js

[code]

**Expected behavior**

After running `np

[2019-06-14 15:37] pjung16 commented on #460
`npm run styleguide` however, works properly and can be ran locally. It's just the build that's the issue here.

[2019-06-14 17:21] #460 closed

[2019-06-14 19:36] #459 closed

[2019-06-15 04:34] dhruvkb opened #464 "Imported components are not rendered when using vue-i18n"
**Current behavior**

When a component imports a component that uses vue-i18n in SFC mode the imported component is not rendered instead a comment is shown. I used the Vuetify+i18n example as reference.

**To reproduce**

See the repository [CC Vocabulary](https://github.com/creativecommons/cc-vocabulary) and the [styleguide](https://creativecommons.github.io/cc-vocabulary/#/Templates/Index).

Her

[2019-06-15 17:27] elevatebart commented on #464
Hey @dhruvkb

I checked out your repo and will debug this afternoon,
I hope to find a solution soon.

[2019-06-15 23:01] elevatebart commented on #464
I found the issue and has some to do with styleguidist and some to do with cc-vocabulary.
[code]
You intend this instruction to import `Hello.vue`. Instead it loads `Hello.json`. This is because the vue-cli has a webpack config that resolves json and vue components all the same.

[code]

Having files names only differ by their extensions is not a good practice overall.

You have 2 ways of fixing t

[2019-06-15 23:10] elevatebart commented on #464
I even made a quick PR to illustrate my favourite fix.

[2019-06-15 23:10] #464 closed

[2019-06-16 01:27] dhruvkb commented on #464
Thank you so much!

[2019-06-18 18:09] ffxsam opened #465 "TypeScript casting in prop types should be ignored"
**Current behavior**

[code]

Styleguidist generates this for the docs:

![image](https://user-images.githubusercontent.com/12532733/59708239-f4060500-91c9-11e9-90c0-48e223b9c2e6.png)

**Expected behavior**

It should ignore TypeScript annotations after the curly braces. Unfortunately, in Vue 2.6+ with TypeScript, array prop types are broken, and if you don't include the `as` typecast, it breaks t

[2019-06-18 18:09] ffxsam commented on #465
Possibly related to #413

[2019-06-19 13:13] elevatebart commented on #465
@ffxsam What would be the ideal result of the parsing of this Prop?
`SocialNetwork[]`

[2019-06-19 13:43] ffxsam commented on #465
@elevatebart Yep, exactly.  There's also this format which works:

[code]

So it's a bit of a parsing trick there. 😄

[2019-06-19 13:59] schjetne commented on #377
This still seems to be an issue with certain `<template functional>` Vue components. I'm having the same problem. Here's the entire component that fails:

[code]

This happens when trying to include functional components in [Vue Design System](https://vueds.com/).

[2019-06-19 16:05] elevatebart commented on #377
Thanks @schjetne,

I suggested a fix in the linked PR.
I think it will be delivered today.

[2019-06-19 16:18] #413 closed

[2019-06-19 16:18] #465 closed

[2019-06-19 16:29] schjetne commented on #377
Wonderful! Thank you!

[2019-06-23 22:34] pavelda2 opened #469 "`vue-docgen-api` cannot resolve slot attributes when `v-bind` used"
**Description**

Slot attributes not resolved when using `v-bind` to pass all attributes at once.

**To reproduce**

[code]

**Expected behavior**

Package `vue-docgen-api` generate three bindings:
[code]

**Actual wrong behavior**
Package `vue-docgen-api` generate only one binding:
[code]

[2019-06-24 10:45] pavelda2 opened #470 "`vue-docgen-api` cannot parse slot definition inside slot usage"
**Current behavior**

Documented slot definition (`<slot name="checkboxGroupLabel"/>`) is not parsed by vue-docgen-api when it is inside other slot usage (`<template #checkboxLabel>...</template> `)

**To reproduce**

[code]

See this example in repository: https://github.com/pavelda2/vue-docgen-api-bug/blob/master/src/components/CheckboxGroup.vue

**Expected behavior**

Library vue-docgen-api sho

[2019-06-25 12:20] bodograumann opened #471 "Can not import multiple files with same name"
**Current behavior**

When trying to import two modules with the same file name in a vue sfc example the compiled code is invalid. Error: `SyntaxError: Identifier 'examples$0' has already been declared (4:6)`.

**To reproduce**
I have created a new project with `vue create -b`  and all features disabled here:
https://github.com/bodograumann/vue-styleguidist-import-test

Then I ran `vue add stylegu

[2019-06-25 14:18] elevatebart commented on #471
Ooops ! good catch.

A solution might be to randomize this item: https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-styleguidist/loaders/examples-loader.js#L96

Thank you for reporting it.

[2019-06-27 12:59] #471 closed

[2019-06-27 18:54] elevatebart commented on #469
@pavelda2 bad news,

Docgen is a static analysis tool.
If we do what you desire, we need to do more than parsing, we need to evaluate the code inside of the v-bind.
Imagine that your keys become calculated like so:

[code]

or spread like so

[code]

In those cases, I need a clean fallback. Do you think `{'v-bind': '{ ...names }' }` would work ?

In extenso, would it be helpful if instead of an em

[2019-06-28 05:27] anthonygore commented on #279
Hi, I'm having this issue as well. Using the CLI plugin v3.15.0

[code]

[2019-07-01 09:27] flyinglove opened #476 "method document doesn't work as expected"
I am trying to document a method in a component, and i did it as below:
[code]
When I click the related 'props methods, events...', the parameter doesn't show at all.
but when i change my function to `search()`, then it works fine.
It seems like this plugin doesn't support es6's default parameter.

[2019-07-01 13:19] #469 closed

[2019-07-01 13:22] elevatebart commented on #476
It is indeed incompatible, docgen can't find the name of the param...
I will fix by noon CST

[2019-07-01 14:20] pavelda2 commented on #469
You are absolutely right. There are too many syntactic variants of expression inside of `v-bind` tag.

But the empty string as a key is not straightforward. I think the `v-bind` key in `bindings` would be more descriptive.

[2019-07-01 16:02] bastiW opened #478 "Can't import mixin as a named import (declared with @) using yarn workspaces and lerna"
**Current behavior**

Import a mixin as a named import is missing first letter after @

All other components are found.

If we import it like it is described here, then it works:
https://github.com/vue-styleguidist/vue-docgen-api/issues/92#issuecomment-458937553

![image](https://user-images.githubusercontent.com/7667003/60450009-351a0280-9c29-11e9-8b7a-e97f1aad4009.png)

**To reproduce**
We are u

[2019-07-01 16:15] bastiW commented on #478
This is our code inside the @cp-fe-platform/mixins index.js file:

[code]

[2019-07-02 01:58] #476 closed

[2019-07-02 02:03] elevatebart commented on #478
Hello @bastiW
This seems like an issue thank you for reporting.
Can you share the `resolve` part of the webpack config you are using with vue-styleguidist?

[2019-07-02 02:12] elevatebart commented on #478
oooooooh got it... lerna's the culprit. I never peek outside the current package. Because you loaded the module with a namespace, it mistook it for some aliased item. I will try to reproduce.

If you can make me a repo for reproduction with the lerna setup I would be very grateful.

[2019-07-02 03:32] elevatebart commented on #478
The only place I use substring that could impact our bug here is in [resolveAliases.ts](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-docgen-api/src/utils/resolveAliases.ts).

Would you please still share the [resolve](https://webpack.js.org/configuration/resolve/) part of your webpackConfig (especially the alias)?

Thank you in advance.
Bart

[2019-07-02 06:54] dhruvkb opened #480 "Themes with names consisting of two words don't work"
The way `rsg-codemirror-theme.css` is generated, themes with names different from the `.css` files don't work. This error is raised:

[code]

For example, the theme `solarized dark` (notice the absence of a dash) is loaded from the file `solarized.css`.

To reproduce, just set
[code]

To resolve this, as far as I know, the theme `.css` file should be generated using the word before the space in th

[2019-07-02 08:02] bastiW commented on #478
Hi,

thanks a lot for your fast response.

this is how our resolve part looks like

[code]

(we are working with webpack chain
https://cli.vuejs.org/guide/webpack.html#chaining-advanced)

Do you still need a repro for debugging?

[2019-07-02 09:26] bastiW commented on #478
I set some debugger on the resolveAliases.js

[code]

then the output will be

[code]

The output of the aliases does not seem to be correct here

the value of alias should the same as inside the our packages/mixins folder:

[code]

[2019-07-02 13:20] aspi92 commented on #478
Hello @elevatebart ,
I have created the reproduction repository for the issue: [https://github.com/aspi92/vue-styleguidist-478-reproduction](https://github.com/aspi92/vue-styleguidist-478-reproduction)

It seems not to work either with the removed alias (see the commented line in the vue.config.js), but the error message changes when the alias is removed.

Thank you for supporting us!

[2019-07-02 13:58] elevatebart commented on #480
I would add one remark though, as of vsg 4, codemirror is probably going to be deprecated in favor of prism way lighter and easier to configure.
You can already use prism using the [simpleEditor](https://vue-styleguidist.github.io/Configuration.html#simpleeditor) option

[2019-07-02 21:51] elevatebart commented on #480
Hello @dhruvkb

Here is a comprehensive list of the css theme files embedded in codemirror by default and supported by vue-styleguidist:

To obtain it I went to https://github.com/codemirror/CodeMirror/tree/master/theme

[code]

Where did you find the themes name? Did it come from a 3rd party?

[2019-07-02 22:07] elevatebart commented on #480
Actually found it on their site. Both themes are stored in the same css file. I fixed it !!!

[2019-07-02 22:29] #480 closed

[2019-07-02 22:48] luludan opened #484 "All code blocks are interpreted, even when they may be intentionally invalid"
**The problem**

Sometimes I need to write an example in markdown that I want in a code block, but I don't want it to be interpreted, it might have a reference which can't be included in the styleguide or may just have some psuedo-code that wont actually compile

**Proposed solution**

I'm not entirely sure on what the perfect solution might be. Perhaps a suffix could be added to the code block's

[2019-07-02 23:02] elevatebart commented on #484
Hello @luludan , you can use the [static modifier](https://vue-styleguidist.github.io/docs/Documenting.html#usage-examples-and-readme-files) this way, your code is not going to be rendered.

You can as well find an example of static code rendered in [this example](https://vue-styleguidist.github.io/basic/#counterbutton) just above the counter button.

I hope it helps

[2019-07-02 23:10] luludan commented on #484
Ah thank you! I Didn't manage to find that in the docs.

Thanks for your fast response too 👍

[2019-07-02 23:10] #484 closed

[2019-07-03 09:51] aspi92 commented on #478
Hi @elevatebart
unfortunately, the component with the mixin still does not show up. The @ alias seems to be handled correctly now, but the referenced files are still not found.

I have updated Styleguidist in the reproduction repository in the branch "styleguidist-3-15-3", so that you can reproduce the issue.

Running "yarn styleguidist" produces the following error message:
`Warning: vue-docgen-a

[2019-07-03 18:26] joseporto opened #485 "access to this.$options"
Maybe I'm missing something, but I'm having trouble accessing `this.$options` object from my components.

This is how they are declared:

[code]

This is how my app imports them:

[code]

And when running my app, `this.$options` is available, but in styleguideist they are not and I get this error:

-------

Before submitting a new question, make sure you:

- [x] Searched existing [Stack Overflow q

[2019-07-03 19:53] elevatebart commented on #485
Hello @joseporto

As you probably know styleguidist only looks at your components file. It, therefore, has no idea of the options you passed to Vue in `main.js`. You will have to help it a little.

I would suggest configuring the [renderRootJsx](https://vue-styleguidist.github.io/Configuration.html#renderrootjsx) option.

It expects a file. In your case, the file you would have would look like thi

[2019-07-03 20:48] joseporto commented on #485
Thanks @elevatebart. It does make sense, but still not working. I tried to find projects that use the same pattern, but couldn’t find one so far.

[2019-07-03 20:56] elevatebart commented on #485
I might point you toward the [nuxtjs example](https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/examples/nuxtjs) that uses a similar pattern for faking the use of the nuxt axios plugin.
See inside of `examples/nuxtjs/styleguide/styleguide.root.js`

[2019-07-04 16:04] bodograumann opened #486 "Cyclic dependencies are not resolved correctly"
**Current behavior**

If there is a cyclic dependency between the modules, it can occur, that a component is not loaded correctly.

In particular I have a component library and there are non-cyclic dependencies between the different components resolved via a central `index.js` (or `index.ts`) file.

I encountered this problem in a vue-cli application while using vue-cli-plugin-stylegudist. There I

[2019-07-05 00:23] elevatebart commented on #478
Thank you for following up I will try solving it.
What you are facing is an issue with docgen. It is not being able to resolve "external" files from another package. The reason is that most of the time, files that are external are in `node_modules`, and those files are compiled, therefore not easily parsed. If I allow for files in node_modules to be parsed docgen will en up failing in almost every

[2019-07-05 06:50] aspi92 commented on #478
Hi @elevatebart
Thanks for the reply! I have experimented with the different packages and import types. You can find the results in the `different-imports` branch in the repository.

From my understanding, Docgen has problems to follow external files but just in the case of named imports, which reminds me of [Issue #92](https://github.com/vue-styleguidist/vue-docgen-api/issues/92). The same workar

[2019-07-05 06:55] sangyeol-kim opened #487 "When run a "$ yarn run styleguide", get Failed to compile "Vue packages version mismatch""
I am using the vue-cli 3 version, and vue-loader is using version 15. And I have updated the vue-template-compliler version to the latest version.

[code]

[code]

[2019-07-05 09:08] sangyeol-kim commented on #487
I fixed the problem by updating versions of vue-templates-compiler and @vue, and deleting packege-lock.json and node-modules.

Close the issue.

[2019-07-05 09:08] #487 closed

[2019-07-06 17:36] elevatebart commented on #478
I got one step further,
Docgen fails in in the `require.resolve("@issue-reproduction/mixins")`.
If you change the `package.json` of mixins from

[code]

to

[code]
it works.

Still investigating why `require.resolve` does not pick up on the `module` field.

[2019-07-06 19:19] elevatebart commented on #478
... Bad news, it is in the specs. `require.resolve` resolves the path of modules the `CommonJs` way.
Unless the compiled file `dist/mixins.umd.js` exists, the setup will fail.

I will do two things :
- [ ] still build the documentation with what I have and instead of breaking just sending a warning.
- [ ] try using the [`resolve`](https://www.npmjs.com/package/resolve) npm module from browserify t

[2019-07-06 21:37] elevatebart commented on #436
found the bug

[2019-07-06 22:18] elevatebart commented on #486
Hello @bodograumann

Thank you for your interest for vue-styleguidist.
I see in you error message that Vue is asking for a `name` field for recursive components.
Why did you not add it?

After cloning your repo, if the Component2.vue becomes this, styleguidist is back on track...

[code]

[2019-07-06 22:19] elevatebart commented on #486
You can, of course, choose a better `name` for your component ;)

[2019-07-06 22:19] #478 closed

[2019-07-06 22:19] #436 closed

[2019-07-08 00:50] sangyeol-kim opened #490 "Can I exclude node_modules at build time?"
I get the following error when building with the yarn run styleguidist command:

[code]

Can I remove the node_modules at build time?

+++

dependency
[code]

[2019-07-08 02:25] sangyeol-kim opened #491 "Can not parse projects with multiple App.vue?"
The directory for my Vue project is:

[code]

vue-styleguidist parses the src/common component normally.

But it seems that the src/entry part can not be parsed.

How do I use vue-styleguidist in a structure where there is a separate App.vue like src/entry?

[2019-07-08 05:37] sangyeol-kim opened #492 "If divide a section, the side bar does not appear."
If i write like A Code, a sidebar appears on the left, but if break the section, the sidebar does not appear.

A Code
[code]

devide section code
[code]

![cap](https://user-images.githubusercontent.com/26738287/60785418-e40c9000-a18d-11e9-852d-8c44460f0d34.PNG)

[2019-07-08 06:52] bodograumann commented on #486
Curious. I was originally using typescript class-based components and only changed it to plain javascript components for the reproduction, to make it as simple as possible. Originally the component name was taken from the class name. I will continue tracing the problem, as soon as I find the time.

[2019-07-08 07:37] bodograumann commented on #486
So I had another look at the reproduction and at your suggestion.

I’m afraid I can not confirm that setting the `name` helps. On the contrary, when I add the name to `Component2` as you suggested, both the example for `Component2` and `Component3` do fail with the same error:

[code]

What you saw can be explained with HMR-magic. If you start up the styleguide devserver for my original reproducti

[2019-07-08 08:59] bastiW commented on #478
Thanks a lot for fixing

[2019-07-08 09:50] river-honer opened #493 "Functional component prop `value` displayed alongside v-model prop, when `@model` used in comment"
**Current behavior**

![s-select-table](https://user-images.githubusercontent.com/41007222/60800927-f8d92b80-a16d-11e9-9252-1dd7123fe574.png)
![s-select-code](https://user-images.githubusercontent.com/41007222/60801140-5f5e4980-a16e-11e9-83ab-dca1fac53ff6.png)

In the table of props, I am getting the `value` prop still, even though I'm using the `@model` tag and the v-model prop is showing.

This

[2019-07-08 10:18] river-honer commented on #493
Solved with this in styleguide.config.js
[code]

[2019-07-08 13:24] elevatebart commented on #491
In vue-styleguidist, all components are registered globally by default.
If you have multiple instances of the same component, in this case app.vue, you should probably use the option [locallyRegisterComponents](https://vue-styleguidist.github.io/Configuration.html#locallyregistercomponents). This way, each component is registered only in its own examples.
If you want to call other components in yo

[2019-07-08 13:30] elevatebart commented on #493
Thank you for the report.
Interesting fix you got here ;)
Hope you will not need it soon.

I should have it repaired by the end of the week.

[2019-07-08 14:48] river-honer commented on #493
Thanks for your quick reply. Don't really need it fast at all as my workaround works just fine. But thanks for working on it. Would be interested to start my first pr but we are pretty busy. However I'm liking V-Styleguidist. I wrote a crazy parser for my inline use of attributes, which are over the top.

[2019-07-08 15:49] nicooprat opened #494 "styleguidePublicPath option seems ignored"
**Current behavior**

I'm using vue-cli. The [`styleguidePublicPath`](https://github.com/vue-styleguidist/vue-styleguidist/blob/bd5162ab0cc19b7b280410ac0f2805e75e309884/packages/vue-styleguidist/scripts/schemas/config.js#L301) option seems ignored as I can't get Webpack to listen to a specific path.

When running `npm run styleguide`, the console still displays: `Local: http://example.com:6060/` w

[2019-07-08 18:20] elevatebart commented on #493
I just found the issue.
It is a combination of both `propHandlers`.
The script `propHandler` detects the `@model` but the template `propHandler` does not.
Template handler then creates a new prop.

Give me a minute.

[2019-07-08 18:38] elevatebart commented on #493
fixed ;)

[2019-07-08 20:26] elevatebart commented on #486
I come with good news and bad news:
# Bad news
Vue styleguidist has very little control over this issue since it is entirely delegated to the vue-loader.

# good news
There is [wunderbar explication in the docs](https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components) of how to solve it and you will see that it is incredibly easy.

You simply have to use the `i

[2019-07-08 20:31] #493 closed

[2019-07-08 20:40] elevatebart commented on #494
As seen [here](https://github.com/vue-styleguidist/vue-styleguidist/blob/62b9264735622b3e63191956951ceba43732ddc4/packages/vue-styleguidist/scripts/make-webpack-config.js#L127) the styleguidePublicPath is only used while using command `styleguidist build`.

If you want to have 2 different instances of styleguidist running at the same time at dev time, I suggest that you use 2 different [serverPort

[2019-07-08 20:52] elevatebart commented on #492
Hello @sangyeol-kim ! there are a couple of issues in your config:

1 - `showSidebar` is a top-level option only. If forced to false, it will hide the `sideBar` entirely. No need to specify it for each section.
2 - Why do your `components` fields have to be functions? They should be a string but I am curious about your need for having it as a function. Maybe it can be done as an enhancement.
As a

[2019-07-08 20:57] elevatebart commented on #490
Hey @sangyeol-kim can you give me a little more context here?
I do not see any reference to node_modules in your error and fail to see how removing node-modules would help.
Thank you in advance.
Bart

[2019-07-09 02:18] sangyeol-kim commented on #490
Thank you. I have added package information for my project.

[2019-07-09 02:21] sangyeol-kim opened #496 "curious about the vue-styleguide custom option."
Q1. Can I add an extension name to the left slide bar? For now, simply output the vue component name.

Q2. Can I extract annotations, etc. inside parsed files? If possible, I want to register certain keywords within the component and parse them by keyword.

Thank you.

[2019-07-09 02:53] sangyeol-kim commented on #492
Thank you for answer.

I simply split the section as follows but the slidebar is not displayed.

[code]

[2019-07-09 07:13] river-honer commented on #493
Thank you :)

[2019-07-09 07:18] bodograumann commented on #486
Thanks for your help. I was of course hoping that there was a general solution in `vue-styleguidist`.

Well, guess I have to workaround the issue every time it occurs.

[2019-07-09 07:18] #486 closed

[2019-07-09 07:27] nicooprat commented on #494
Thanks, I also tried this:

[code]

Still the same output in the console though, and the styleguide is still unreachable. I'll try using ports but I'm not sure I can.

[2019-07-09 15:44] elevatebart commented on #490
I wanted to know why the error you have, needs the node_modules folder ignored.
by what should it be ignored?

By webpack loaders? By Babel?

[2019-07-09 15:50] elevatebart commented on #496
Hello @sangyeol-Kim
Q1: you can customize each component but you might have to understand React to do it.
See the customized example

Q2: the docgen api does the extraction of all annotations. If you want to use it directly it is entirely possible.

On a side note, I think that it would be easier for me to answer your questions on discord. My handle is my GitHub userid so I should not be hard to f

[2019-07-09 19:15] elevatebart commented on #494
This will not change anything in the terminal output but will respond to `http://localhost:6060/styleguide` successfully.

[code]

I might take a minute to update the urls sent back through the terminal.
You should not need those Urls though.

[2019-07-10 08:40] sangyeol-kim opened #499 "An error occurs when parsing a .js file."
First, I would like to thank the creator of the vue-styleguidist. The vue-styleguidist is awesome.

But I have a fatal issue.

I have no problem parsing .vue files.

However, if I parse the .js file, the build will not fail, but the dev server and the build file will not display the screen.

So I removed node_modules through webpackConfig as follows

[code]
But this caused me a lot of errors.

[co

[2019-07-11 07:39] nicooprat commented on #494
Ok, thanks, I'll give it another try once it's merged.

[2019-07-11 12:53] #494 closed

[2019-07-11 12:57] elevatebart commented on #485
Did it help?
Can you share what you put in $options?

Come on over to the discord channel on vue-land, I am sure someone can help ;)

[2019-07-11 17:52] yellowsunday opened #500 ""Copy to clipboard" fails in Chrome"
Clicking the "Copy to clipboard" button on the path line fails in Chrome, with an error in the console:

[code]

It looks like [this issue in react-styleguidist](https://github.com/styleguidist/react-styleguidist/issues/1290), which was fixed by bumping clipboard-copy to v3.

[2019-07-12 05:01] sangyeol-kim commented on #499
This can be solved by adding a loader. Close the issue.

[2019-07-12 05:01] #499 closed

[2019-07-12 05:02] sangyeol-kim commented on #496
@elevatebart Thanks for the advice! I'll close the issue.

[2019-07-12 05:02] #496 closed

[2019-07-12 05:03] sangyeol-kim commented on #491
Thanks for the advice! I'll close the issue.

[2019-07-12 05:03] #491 closed

[2019-07-12 08:04] joseporto commented on #485
Unfortunately not. Although I did follow the example, and it totally made sense to change the prototype it self. Eventually I ended up going for a `sass` solution to override variables before importing the component styles, since this actual package would benefit from being configured and styled via CSS and not javascript. But I have another component in the making which, due to it's design and fu

[2019-07-12 16:24] #500 closed

[2019-07-12 16:24] elevatebart commented on #500
Thank you for reporting it.

[2019-07-17 23:22] elevatebart commented on #431
It seems that I misread the code and that I actually need to observe scopedSlots just like children to traverse the v-dom. I will fix it soon ;)

[2019-07-18 02:21] #431 closed

[2019-07-19 14:04] elevatebart commented on #470
I believe this was fixed in 3.16.2 can you update and see ?

[2019-07-20 21:40] ffxsam commented on #290
@elevatebart I'm having this issue too. Let me know what you need from me.

[2019-07-20 23:18] elevatebart commented on #290
Hey @ffxsam do you use the vue cli ?

[2019-07-22 22:32] #174 closed

[2019-07-22 22:33] elevatebart commented on #174
Here is how you can document your slot after this fix:

[code]

Sorry it took me so long to fix it.

[2019-07-24 07:33] donaldshen opened #514 ""VIEW CODE" doesn't update occasionally when page changes"
@3.16.3
#404 still happens sometimes. below you can see 'basic' & 'format' section share the same "VIEW CODE"
![bug](https://user-images.githubusercontent.com/19591950/61773861-36a1a980-ae28-11e9-93ac-0e4e6f25a899.gif)

[2019-07-24 11:37] upstroke commented on #129
Any news on that matter?
We habe the following setup for components:
component
- component.js
- component.pug
- component.scss
- component.vue

[2019-07-24 12:51] elevatebart commented on #129
I believe everything is supported now but might be mistaken.
I will try creating an example with pug-ts-scss

[2019-07-24 12:58] elevatebart commented on #514
Hey @donaldshen thank you for sharing,

Do you see anything that those components have in common?
Do they both have a name field?
Are they examples for the same component?

On my end, I have a hard time reproducing it on the `sections` example

[2019-07-24 22:31] #193 closed

[2019-07-24 22:32] elevatebart commented on #193
@rafaesc you were right it was fairly simple. see the vuecli3 example

[2019-07-25 02:10] donaldshen commented on #514
They are examples for the same component, which is 'count-down', and it has a name field which is 'count-down'

[2019-07-25 02:18] donaldshen commented on #514
Those examples are written in markdowns and illustrate how to use some props. e.g.
### basic.md
[code]
### format.md
[code]

[2019-07-26 19:59] elevatebart commented on #160
I will close this one. feel free to reopen if necessary ;)

[2019-07-26 19:59] #160 closed

[2019-07-26 20:02] elevatebart commented on #138
This looks very much outdated. @Infeligo can you please check if this works? If it is still an issue please feel free to reopen.
Keep in mind that styleguidist is more of a showcase than an actual complete sandbox

[2019-07-26 20:02] #138 closed

[2019-07-28 00:23] elevatebart commented on #514
I reproduce !! now to know what the reason is...

[2019-07-28 14:42] #167 closed

[2019-07-29 02:17] #514 closed

[2019-07-29 02:35] elevatebart commented on #492
Hey @sangyeol-kim , after looking a little in the arcane of react-styleguidist, it turns out that if you have only one top-level section, the menu disappears.
I believe it's a bug.
In the meantime, just add an extra top-level section and your menu will appear.

[2019-07-29 02:42] elevatebart commented on #492
The described behavior is managed right [here](https://github.com/styleguidist/react-styleguidist/blob/d1e528fd71de2edb9850c76cd76bc268e3677398/src/client/rsg-components/TableOfContents/TableOfContents.js#L44) feel free to add an issue.

[2019-07-29 02:45] elevatebart commented on #490
Oh I see that you are using the vue-cli but you are not using the vue-cli plugin.
Use it instead of referencing directly vue-styleguidist. It might very well fix your issue ;)

[2019-07-29 03:45] Stegosource commented on #354
I don't think this is an issue with Vue Styleguidist, as much as it is with functional components. I notice a lot of the time with just regular Vue development that functional components do no trigger a hot reload when the content has changed.

[2019-07-29 13:29] elevatebart commented on #354
It would probably make sense since they do not have an actual existence in the virtual dom.
Maybe I can wrap them in a real component that would force re-loading ;)

[2019-07-29 20:39] aaronguernsey opened #525 "VueLoaderPlugin Error"
**Current behavior**

Forgive me if this has been posted before, I didn't find the same issue or one that could solve my problem.

When upgrading vue-cli-plugin-styleguidist above version 3.15.0 the `vue-cli-service styleguidist` command errors out, and I cannot compile the development project.

The exact error looks as such:
[code]

Thanks in advance. Really digging the project, and I'm still abl

[2019-07-30 00:01] elevatebart commented on #525
Thank you so much! It really means a lot to hear.

A couple of questions first:
- How are you launching styleguidist? `vue-cli-service styleguidist` or plain old `styleguidist serve`
- Did you try removing the `webpackConfig` from the `styleguide.config` entirely? with the vue-cli it is meant to be entirely automated.

I am trying to see where the fail could have been and isolate the commit that b

[2019-07-30 01:21] aaronguernsey commented on #525
Thank you for the quick response!

- I am using `vue-cli-service styleguidist` to launch styleguidist
- I removed the custom `webpackConfig`, but it resulted in an error due in a `vue-loader` error unable to find and compile the correct `.vue` files, which presumably is because the project requires `vue-loader`.

I'm away from my work computer, but I will be sure to check these out tomorrow and se

[2019-07-30 02:54] elevatebart commented on #525
Beware of the poor management (by vue-styleguidist) of the cache.
I need to work on that right after I finish fixing hot module reload for the plugin.

[2019-07-30 12:54] elevatebart commented on #146
Hello @VincentSmedinga,

Sorry for not bugging you earlier, the cookbook has [moved a little](https://vue-styleguidist.github.io/docs/Cookbook.html#how-to-change-the-layout-of-a-style-guide).

The bug you are having seems to be linked to the babel config you are using.
If you try doing the following at the beginning of your `StyleGuideRenderer` it should not send the error anymore.

[code]
The rea

[2019-07-30 12:59] elevatebart commented on #146
Regarding `portal-vue`, you have 2 choices:
Register it globally using [this receipe](https://vue-styleguidist.github.io/docs/Cookbook.html#how-to-add-third-party-plugins-to-the-style-guide)

Or import it in one or two examples and use [this receipe](https://vue-styleguidist.github.io/docs/Cookbook.html#how-to-hide-some-components-in-style-guide-but-make-them-available-in-examples). Note that you

[2019-07-30 13:42] elevatebart commented on #201
Hello @hannesaasamets
I hope you found the answer you are looking for. It seems like you did.
feel free to re-open if you have more details.

Thank you again for your interest.
Bart

[2019-07-30 13:42] #201 closed

[2019-07-31 06:43] sangyeol-kim commented on #492
@elevatebart right! It seems to be a bug. thank you for your reply.

[2019-07-31 06:45] sangyeol-kim commented on #490
@elevatebart

I think the problem is that there are no loaders for various files that are imported when the .vue file is built.

I have registered additional loaders for .vue files in styleguide.config.js, and this has been fixed.

[2019-07-31 11:20] elevatebart commented on #490
Great news !!

[2019-07-31 11:20] #490 closed

[2019-07-31 19:33] elevatebart commented on #470
@pavelda2 please re-open this issue if you find the bug in a version over 3.16.2.
It should not happen though.

[2019-07-31 19:33] #470 closed

[2019-07-31 19:38] elevatebart commented on #104
Hey @simonwjackson

What would you think of a syntax like this one:

[code]

It has a couple of upsides.
- You would be able to navigate easily to your examples in modern editors (Ctrl or Cmd + Click)
- It would still obviously look like a code sample

Tell me what you think ;)
Bart

[2019-08-01 08:09] kgilden opened #529 "styleguidePublicPath option overrides webpack's publicPath option"
**Current behavior**

https://github.com/vue-styleguidist/vue-styleguidist/pull/497 broke configurations which did not rely on `styleguidePublicPath`, but instead used webpack's `publicPath` option.

**To reproduce**

Use the following configuration.

[code]

**Expected behavior**

The styleguide should be accessible from `http://example.com/example/`. So `vue-styleguidist` should respect the publ

[2019-08-01 15:13] elevatebart commented on #529
You are absolutely right, I should fix it right away.

[2019-08-02 02:48] #529 closed

[2019-08-02 02:59] #104 closed

[2019-08-04 02:01] elevatebart commented on #525
Hey @aaronguernsey

Could you post the error you had when removing the `webpackConfig` from styleguidist.config.js?
Normaly, the plugin should be taking the `@vue/cli` webpack config. There should not be any need for additional configuration in `styleguide.config.js`

[2019-08-05 12:27] river-honer opened #535 "Vuetify 2 used in Vuetify Example (with IE11 Support)"
**The problem**

Current Vuetify example is not the current version of Vuetify.

**Proposed solution**
Update vuetify version in example. And support IE11.

**Alternative solutions**

**Additional context**

`styleguide.root.js`
[code]

`styleguide.require.js`
[code]

[2019-08-05 19:19] #535 closed

[2019-08-05 19:29] aaronguernsey commented on #525
Hey @elevatebart! Thanks for the help so far.

When I upgrade to the latest release (`3.19.0+`), everything works properly without the `webpackConfig`. The same results occur when I lock to version `3.15.0`. Maybe the previous error was a caching issue?

If I add the `webpackConfig` back, I get the original VueLoader error above. To be clear, we do not have a custom webpack for the `@vue/cli`; we

[2019-08-05 19:47] elevatebart commented on #525
I see one difference between your config and the standard one: The exclusion of the font folders.
Which would not be needed anymore since you are using the plugin.
I can tell you that before 3.16.0, the `webpackConfig` in `styleguide.config.js` was simply ignored.

If the styleguide renders without any customization, would you should keep it this way?

Please tell me when you remember the reason f

[2019-08-05 20:01] elevatebart commented on #492
@sangyeol-kim you can chime in this PR if you need it merged quickly

[2019-08-05 22:45] #129 closed

[2019-08-06 01:57] sangyeol-kim commented on #492
Ok, Thank you @elevatebart

[2019-08-06 13:05] elevatebart commented on #199
Hello @phmngocnghia I believe this is the intended behavior of react-styleguidist
bug #492 seems to have the same problem.
If there is only one section, it disappears.

The described behavior is managed right [here](https://github.com/styleguidist/react-styleguidist/blob/d1e528fd71de2edb9850c76cd76bc268e3677398/src/client/rsg-components/TableOfContents/TableOfContents.js#L44) feel free to add an i

[2019-08-06 18:52] pavelda2 commented on #470
Great. I confirm that the bug was fixed in 3.16.2 👍.

[2019-08-06 19:43] aaronguernsey commented on #525
Hey @elevatebart!

We used the customization for using pug templates, file loader, and excluding fonts. However, it all appears to work fine without the `webpackConfig`. So maybe this can be closed?

Thank you for the help.

[2019-08-06 19:44] elevatebart commented on #525
No problem ;)

[2019-08-06 19:44] #525 closed

[2019-08-07 10:45] widyakumara opened #542 "Setting copyCodeButton to true in styleguide.config.js throws a compilation error"
**Current behavior**

Setting `copyCodeButton` to `true` in `styleguide.config.js` throws a compilation error

[code]

**To reproduce**
* Set `copyCodeButton` to `true` in `styleguide.config.js`
* Run `npm run styleguide`

**Expected behavior**
Vue Styleguidist should run normally

[2019-08-07 13:17] #542 closed

[2019-08-10 03:00] #283 closed

[2019-08-10 03:00] #492 closed

[2019-08-10 19:36] elevatebart commented on #326
It might be necessary to update node to the LTS for it to work.

[2019-08-10 19:37] elevatebart commented on #326
Check out the updated version with vuetify 2.0 ;)

If it does not work please re-open

[2019-08-10 19:37] #326 closed

[2019-08-12 01:31] f3ltron opened #553 "internationalization needed on description"
**The problem**

actually as the doc is never in one lang you should be able to I18n components easily

**Proposed solution**

Create subfolder for i18n. and parse description and create as many files as you have trads

**Alternative solutions**

none

**Additional context**

[2019-08-12 20:09] elevatebart commented on #553
I see three parts in this enhancement
- [ ] allowing vue-docgen-cli to load descriptions in a different locale than the native one to replace the descriptions of the docgen object
- [ ] allowing vue-docgen-cli to generate this locale descritption file automatically
structure of the locale file
button.FR.json
[code]
- [ ] having a tool that checks updates this locale object each time the component

[2019-08-12 20:12] elevatebart commented on #553
I would host the locales files near the component files.
`src/components/button.vue` would have `src/components/button.doc.FR.json` for translations in french

[2019-08-13 06:52] Jesus82 commented on #553
I'd ask to leave the option to have all the translations in a separate file, in a "locales" folder (and not based in components). The reason is that many components may share the same translation keys.

[2019-08-13 11:25] elevatebart commented on #553
Hello @Jesus82,

This is an interesting suggestion.

How would you organize the file in this case?
Would you have a flat list of strings to translate?
What would be the keys to access those translations?

Keep in mind that, in order to keep context, and jsdoc response active, the main idea is to keep the English doc **in the components** themselves.

Thank you

[2019-08-13 11:48] Jesus82 commented on #553
I have it organized a little bit different, with the locales folder at the same level with the components folder, and then a file for each language. That's also how I'm planning to use my components later, if fx I want to place it in a nuxt app (with a separate file, one for each language).

[2019-08-13 15:01] elevatebart commented on #553
This folder structure this is what I understand from your description.
It feels a little harder to navigate but easier to extract a whole folder to send for translations.

[code]

Did I get your scaffolding right? Did you have other suggestions?

[2019-08-13 15:31] f3ltron commented on #553
if think it's something like this yeah but not locale, use locales. Why readme in locales ? @elevatebart

[2019-08-13 20:36] elevatebart commented on #553
Since the readme contains the documentation that will occupy the bottom of the component sheet, it could be useful to translate it as well. It might be a challenge to know when the file is obsolete.

My first reaction would be to use markdown comments at the end of the file. This would serve as the key for the last updated original file.

[code]

When asked to check translations, we could provide

[2019-08-14 00:56] elevatebart opened #557 "Stop filtering non-public items in outputs"
**The problem**

Some slots and methods are useful to be documented even if they have no description

**Proposed solution**

in v3 a feature flag in the options, in v4 the option would be on

[2019-08-14 07:01] Jesus82 commented on #553
I was thinking more in something like this (as it mimics how I would set the translations IRL). While in CSS it can make sense to have separate CSS's for each component, and then have some common styles, in translations I prefer to have just a file and then have subobjects for each part of the web, so I can scan all terms at the same time and see if there is something that is already translated.

[2019-08-14 11:30] elevatebart commented on #553
We need to translate the documentation file (Readme.md). This file is rich text using markdown syntax. It contains examples of code but mostly the explanations of what the component should be used for. This last part is very important in a design system.

Since this markdown would have to be translated would you put it inside the Jason file? How would it look?

Bart Ledoux
Twitter: @bartledoux
Git

[2019-08-16 06:25] Jesus82 commented on #553
Yep, I would do it that way (assigning a translation key to each of the markdown texts).

[2019-08-16 20:00] puyt opened #561 "Sidebar is empty and filter isn't working?"
**Current behavior**

After installing this plugin and running the build as explained in the docs my sidebar is empty and the filter isn't working.

The sidebar is also empty on the provided exampes.

**To reproduce**

See https://vue-styleguidist.github.io/basic/

![Screenshot from 2019-08-16 21-57-26](https://user-images.githubusercontent.com/3668615/63194770-28365e80-c071-11e9-9e38-31954120e793

[2019-08-16 23:26] elevatebart commented on #561
Thank you, I am going to fix it right away

[2019-08-16 23:27] elevatebart commented on #561
It is a bug I introduced in react-styleguidist 9.1.14... sry

[2019-08-17 18:50] puyt commented on #561
Thanks for fixing it :+1:

[2019-08-17 18:50] #561 closed

[2019-08-19 14:59] #305 closed

[2019-08-20 22:41] elevatebart commented on #136
I believe the vuex example combined with the nuxt example can provide a clear solution

[2019-08-20 22:41] #136 closed

[2019-08-20 22:42] elevatebart commented on #146
Hey @VincentSmedinga, if you still have the issue, feel free to re-open it ;)

[2019-08-20 22:42] #146 closed

[2019-08-20 22:43] elevatebart commented on #199
it is now fixed and delivered

[2019-08-20 22:43] #199 closed

[2019-08-20 22:44] elevatebart commented on #199
[V-3.22.0](https://github.com/vue-styleguidist/vue-styleguidist/releases/tag/v3.22.0)

[2019-08-20 22:49] elevatebart commented on #198
You can now import examples from external files into your markdown which will bring back some of the autocompletion and syntax highlighting.
Check out [the docs](https://vue-styleguidist.github.io/docs/Documenting.html#importing-examples)

The other part which is authoring content as HTML is a duplicate of #304. Please follow on this issue.

[2019-08-20 22:49] #198 closed

[2019-08-20 22:58] elevatebart commented on #304
Hey @lukenofurther !!!

I believe it's finally time we get into this feature.
I am planning on adding a lot of `async` in the mix here.
The addition of Typescript will sure help.

I finally got around to look at your branch and it might be pretty awesome. Opens tons of doors.

Thank again for your patience.
target: end of September.

[2019-08-23 12:28] lukenofurther commented on #304
Hi @elevatebart, that's great news!

Since I last shared I've changed my build so it doesn't rely on async within vue-styleguidist itself. The script now handles all the async before calling vue-styleguidist with the merged config object.

Still, adding async functionality into vue-styleguidist would make this easier for people to accomplish, so that's good.

There are some important consideration

[2019-08-27 12:11] elevatebart commented on #174
Hi @Stegosource

Here is the unit test checking this behavior:

https://github.com/vue-styleguidist/vue-styleguidist/blob/cb05cac39e27c08308ca3087cdd69387e8e102f5/packages/vue-docgen-api/src/script-handlers/__tests__/slotHandler.ts#L150-L167

Please make sure you apply this syntax. If you do, can you share your `render` function?
I might have missed a couple of use cases.

[2019-08-27 16:12] elevatebart commented on #174
`vue-docgen-api` is a static analysis tool. It looks for patterns in your code.
In this case, the pattern for slots is described in the script handler corresponding to slots.
It:
- finds the body of the render function,
- looks for all `$slot` and `$scopedSlots`
- if they have a description adds them to the docs.

It does not resolve any variable so, in order to be detected, your slot call needs t

[2019-08-27 16:36] elrony opened #571 "named exports from mixins are not included in the main component documentation"
Hello,

I have noticed that if I import a mixin that is not exported as default but is a named export, the documentation is not automatically added to the main component.

Mixin.js
[code]

Component.vue
[code]

Is there something I am missing? Is this a bug?

Thanks a lot,
r.

[2019-08-28 08:04] #571 closed

[2019-09-07 09:16] elevatebart commented on #174
Hi @stegosource,

Sorry, I got offline for a little while, I was busy getting married. I wrote a couple unit tests with your code this morning and the slots are detected fine.
The descriptions, though, are not detected as they are not leading comments to the member expressions. Instead those comments are linked to the wrapping assignment.

I need to find a way to find the first containing indépend

[2019-09-07 15:43] Stegosource commented on #174
Hey @elevatebart. First of all, congrats!!! That's awesome for you.

I'll post a new issue, but I'm in no hurry, so take all the time you need :)

[2019-09-07 15:52] Stegosource opened #572 "Documenting slots in render function when assigned to variable"
**Current behavior**

The slot description is not being parsed and rendered

**To reproduce**

See https://github.com/vue-styleguidist/vue-styleguidist/issues/174#issuecomment-525376201

**Expected behavior**

The slot definition should be captured.

[2019-09-10 18:38] #572 closed

[2019-09-11 15:51] OzanKurt commented on #130
Updated
[code]

[2019-09-14 17:34] Joulss commented on #210
Hello,
I'm facing the same issue.
First I just installed vue-stleguidist using "vue add styleguidist"

- First try : ran `yarn vue-styleguidist server`. Compilation OK

Result : blank page and `process is not defined` in the console

- Second try : add the following webpack config in styleguide.config.js :
[code]
Compilation OK, result : The components appears in the web page, but no preview and `

[2019-09-14 17:42] Joulss commented on #210
For more information, here my main.js :

[code]
and one of the vue components (I choosed the smallest one, but it triggers the error as the others) :

[code]

[2019-09-14 18:42] Joulss commented on #210
Ok, I installed a fresh vue cli project and added one by one my files and my packages.
It works without any webpack config. The problem appears when a vue refers to `process.env`

[2019-09-16 03:09] elevatebart commented on #210
Hello @Joulss

If you look inside your `package.json`, you will find 2 new entries in the script field: `styleguide` and  `styleguide:build. When using the vue cli 3 you are not supposed to call vue-styleguidist directly but through the `vue-cli-service`.

Once `vue add styleguidist` run, use simple `yarn styleguide`. It should work better.
If the new scripts can't be found (maybe they are cleaned

[2019-09-17 20:43] jonCliq commented on #133
Has anyone come up with a solution for this?

[2019-09-17 20:47] jonCliq commented on #133
https://github.com/vue-styleguidist/vue-styleguidist/issues/289

[2019-09-17 21:13] elevatebart commented on #133
Not yet. @jonCliq would you be open to share a repo where the problem can be found?

[2019-09-18 12:24] yellowsunday opened #578 "In live examples, support "deep" selectors in scoped styles"
**The problem**

The in-browser documentation examples don't support the special [deep selectors](https://vue-loader.vuejs.org/guide/scoped-css.html#deep-selectors) ("::v-deep", ">>>" or "/deep/") in their scoped styles. Instead, all the parts of the selector string are scoped.

It'd be nice to be able to show readers of the documentation how to apply custom styling to DOM elements generated by th

[2019-09-18 14:30] elevatebart commented on #578
Hey @yellowsunday,

You are halfway done ! This is a great solution.
Just 2 little steps to a mergeable Pull Request

1. Clone(Fork) the current repo
1. Change the styleScoper function
1. If you are nice, add a quick unit test describing the use case you added

Thank you in advance,
Bart

[2019-09-19 14:16] elevatebart commented on #557
Since it was just an idea and the objective of docgen has completely changed, I abandon this one

[2019-09-19 14:16] #557 closed

[2019-09-19 14:20] elevatebart commented on #553
@Jesus82 since JSON does not accept multi-line text how would you go about this translation?
String arrays? How would you choose the keys of each part of the markdown?

As of now it very much seems an awful lot of work just for not repeating code.

[2019-09-19 15:21] #578 closed

[2019-09-20 02:43] Guobacai opened #581 "Default value is not parsed when the keyword "default" is wrapped with quotes"
**Current behavior**

In a Vue component, if a prop is defined like the following:

[code]
The default value is not shown in styleguide doc. However, if the quotes are removed, the default value works. In our project, we have an eslint rule "quote-props" which requires the reserved word to be quoted.

**Expected behavior**

Even the default is quoted, the default value should work.

[2019-09-20 17:26] Guobacai commented on #581
Thanks so much for your quick response.

[2019-09-20 19:30] #581 closed

[2019-09-22 03:58] elevatebart commented on #345
What about something that would work with [propTypes](https://github.com/znck/prop-types) ?

[2019-09-22 19:50] Joulss commented on #210
Hello @elevatebart

Thanks for your support.
I forgot to mention I already tried with the package.json scripts.
Same result with ```yarn styleguide``` (which run ```vue-cli-service styleguidist```) : blank page and ```process is not defined``` error message in the console.

[2019-09-22 21:57] elevatebart commented on #210
Now we are getting somewhere. Thank you, `process` does not exist in the browser where components are rendered and showcased. It is specifically a node object, in what context do you use `process.env`? Is it in the `<script>` block of a `.vue` file? Is it in a wrapper object?

You can use [define-plugin for webpack](https://webpack.js.org/plugins/define-plugin/) to make sure that process is define

[2019-09-24 08:03] MrGaoGang opened #585 "vue-docgen-api can't parse method"
When i use  **vue-docgen-api** pase vue files,
the vue files is:
[code]

but parse **methods** result is  []

[2019-09-24 08:55] mgesmundo opened #586 "How to document event and slot"
Hello,
I'm so happy to use this awesome project (v 3.23.1) to document my own. I need to add a comment like this:

[code]

to a function that not explicitly call $emit.

Another problem is how to document a slot like this:

[code]

Thank you for any suggestion.
All the best!

[2019-09-24 09:52] #585 closed

[2019-09-24 09:52] MrGaoGang commented on #585
must set comment is @public

[2019-09-24 21:53] elevatebart commented on #586
Hello @mgesmundo

You can find [some docs](https://vue-styleguidist.github.io/docs/Documenting.html) on the website about how to accomplish this. But it is missing how to document slots in render functions.

If you want to learn more since all those cases are tested, you should look in the test cases linked [here](https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/packages/vue-docgen-ap

[2019-09-25 03:36] mgesmundo commented on #586
Hello @elevatebart
thank you for your answer. I read all docs without a solution. I will try to investigate to find a solution and I will reopen this if I will find one.
Thank you.

[2019-09-25 08:05] MrGaoGang opened #589 "vue-docgen-api can't parse default function value"
hello, when i use `vue-docgen-api` to parse vue component, i set vue component `props`, such as

[code]
i get the default value is `null`, but when i set

[code]

i get the defalut is
[code]

i don't know whether this is a bugs,if this, please fix it,thanks!

[2019-09-25 14:24] elevatebart commented on #589
Hey @MrGaoGang this indeed seems like a bug in the [propHandler](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-docgen-api/src/script-handlers/propHandler.ts).

I believe it is an easy fix. If you want to start working on a fix, you can fork the current repo, create a unit test for this specific case and use vscode + the jest extension to walk though the code and see wh

[2019-09-25 14:26] elevatebart commented on #586
Hey @mgesmundo it is always very sad to see someone give up :-(.

Would you be open to creating a repo where I can reproduce your use case?

Thank you in advance.

[2019-09-26 00:26] MrGaoGang commented on #589
that's great, thank you very much!

[2019-09-26 02:34] #589 closed

[2019-09-26 16:21] mgesmundo commented on #586
Hello @elevatebart,

using the default demo button created using `vue add styleguidist`, the event `updating` is missing into documentation:

[code]

For the `slot` into a renderless component use this:

[code]

[2019-09-26 16:57] elevatebart commented on #586
Let's start with the events,
Have you tried this?

[code]

I guess I should probably clarify the documentation a little about that.
In order for docgen to see your documented events, you have to document them when they are triggered.

[2019-09-26 18:51] mgesmundo commented on #586
The documentation is clear: the missing event is `updating `

[code]

Anyway: yes I usually use the syntax you provided. The previous code i pasted is automatically generated using `vue add styleguidist` and works fine in any case.

[2019-09-26 18:58] elevatebart commented on #586
Oh !!! you mean that the event is not explicitly called in the onUpdate function but implicitly if update is called.
Am I understanding it correctly?

[2019-09-26 19:00] elevatebart commented on #586
For scoped slots in the render function a couple of tests were missing.

I added a few items in docgen so that your example can be used properly

[2019-09-26 19:00] elevatebart commented on #586
See the attached PR

[2019-09-26 19:03] mgesmundo commented on #586
Great! 🥇

[2019-09-26 19:13] mgesmundo commented on #586
Yes. The "classic" code `this.$emit('update', value)` is not present into the `onUpdate` function body.

[2019-09-26 19:28] elevatebart commented on #586
In the parent component, would you still do the following?

[code]

[2019-09-26 20:48] mgesmundo commented on #586
Yes

[2019-09-27 14:30] elevatebart opened #594 "Add option to display the origin of each option"
If a component extends another component, there is no way in the docs, one can differentiate the explicitly documented props/events from the inherited ones

A little tag box on props and others that says what component this prop is inherited from.

To go further we could even have this tag be clickable and send you to the inherited component

[2019-10-03 08:33] IreneMaryanne opened #597 "js to work for both html script src and vue styleguide compile"
**Current behavior**

My current js file uses `module.exports = MyComponent` in order to export the component.
I want my js file to be sourced in html using `<script src="path/to/myscript.js"><script>` tag, therefore i need to wrap module.exports under if():

Without wrapping module.exports under if(), browser will throw error in console since i directly use <script> tag to src the js file. Refer

[2019-10-04 08:39] IreneMaryanne commented on #597
I managed to find a solution to this issue. Since vue styleguide doesn't support if(..) before module.exports, I use this method so that browser do not throw error:

[code]
So we do not have to put the if(...) before module.exports.
Cheers!

[2019-10-04 08:39] #597 closed

[2019-10-10 00:18] #594 closed

[2019-10-10 20:55] dflock opened #601 "Highlight functional components in the StyleGuide"
**The problem**

I would like to highlight functional components in the StyleGuide.

**Proposed solution**

- Add a class (maybe `.functional`?) to the sidebar entry, and the `h2.pageheader` for functional components
- Use this in the styleguide templates CSS to add a badge

**Alternative solutions**

You could just add the class, and let people style this in their own custom styleguide css.

**Ad

[2019-10-10 23:55] elevatebart commented on #601
This is a great idea, I have thought in the past of having this as a Tag like the JSDoc tags because the star is a little bit too abstract.
Regarding adding the star on the menu, how would you make it accessible ready?
How to make it obvious that this star indicates a functional component?
What alternative would we see?

[2019-10-11 19:44] dflock commented on #601
Yeah, the star was just an example I chucked together for the ticket - not wedded to that at all.

The icons that I was originally going to use was this one: https://fontawesome.com/icons/function?style=regular - but it's a paid Pro icons, so I used the star in the ticket. Taking a little bit more time to mockup using an icon, I might go with something like this:

![image](https://user-images.gith

[2019-10-11 20:11] dflock opened #602 "Better markup for component & JSDoc tags output, to allow better styling"
**The problem**

Given this component comment with two JSDoc tags:

[code]
... this is the current markup output in the styleguide:

[code]

There are no semantic classes on any of this, and the JSDoc tags have no structural markup - they're just text nodes. This makes changing the styling of this with CSS much more difficult than it could be.

**Proposed solution**

With a few changes to the mark

[2019-10-11 20:12] dflock commented on #602
This is related to #601

[2019-10-14 14:07] elevatebart commented on #601
I absolutely love the tag as displayed here.
Updating the menu and the component are two different enhancements that can be treated independently.
I am going to create a PR for the Tag in component display.
@dflock Would you be open to reviewing this PR?

Thank you! Great suggestions.

[2019-10-15 18:24] dflock commented on #601
Love to!

[2019-10-18 06:55] nerijusb opened #606 "Read the extended component documentation from node_modules"
Hi, awesome work on vue-styleguidist, keep up the good work! I have a small problem/possible improvement to discuss:

**The problem**

It comes from the restriction described in the comment from extendsHandler.ts:
`// only look for documentation in the current project not in node_modules`
This is problematic due to my specific setup:
I have an internal component library that is published as a sepa

[2019-10-18 16:47] elevatebart commented on #606
Would you be open to creating a PR? I can guide you through the process.

[2019-10-18 19:22] dflock commented on #134
This still appears to affect @public methods in mixins loaded with aliases?

[2019-10-21 23:28] #602 closed

[2019-10-25 05:27] #601 closed

[2019-10-25 17:10] elevatebart commented on #586
Hey @mgesmundo ,

Sorry for the long wait, I am finally unstacking all issues here.

In the code shared below, it looks that you are commenting a method.
The comment block is attached to the method.

[code]

Would you be open to instead have an `@fires` tag?
That tag would refer to the event that would be defined somewhere else, probably at component level.

`Update` is fired by the documented com

[2019-10-28 10:05] faizalami opened #612 "How can I documenting Vuex state, getters, mutations, and actions?"
How can I documenting Vuex state, getters, mutations, and actions?
I have read the documentation and I found how to documenting components that **using vuex**, but what I need is how to **documenting vuex**.
I also found a tool for documenting vuex, but it using jsdoc [https://www.npmjs.com/package/jsdoc-vuex-plugin](https://www.npmjs.com/package/jsdoc-vuex-plugin).
So, what should I do for docume

[2019-10-28 13:30] elevatebart commented on #612
Hello @faizalami ,

It is an interresting question you have here. vue-styleguidist is initially meant to document visual components only. You could use it to document more components but this would probably mean a little refactoring on my end.

The most common use case is, as a library developer, I want to publish a documentation about how to use the components I have created so that developers us

[2019-10-28 14:55] elevatebart opened #613 "docs: add a customization example with the vue design system skin"
Let's demo how amazing vue-styleguidist can look using what has already been done

[2019-10-28 14:58] elevatebart opened #614 "cli-plugin: create vue-cli-plugin-docgen"
Create a vue-cli-plugin-docgen to generate docs in vuepress instead of react using vue-docgen-cli.

[2019-10-28 18:42] elevatebart commented on #105
@simonwjackson , are you still working on this?

If it were me, I would create a globby to get all component files, maybe use `docgen.config.js` or `styleguide.config.js` to determine qhere the components are.
Then would docgen on each of them and check that for each prop, slot, event and public method there there is a `description` field.
The errors would be returned as an array that would contai

[2019-10-28 18:46] elevatebart commented on #212
Hey @hollandThomas I will close this issue for now as I feel like Vue 3 is going to make it completely obsolete. Fell free to re-open it if you make a use case.

[2019-10-28 18:46] #212 closed

[2019-10-29 14:45] nicooprat opened #615 "Script styleguide:build should not generate favicons in dist folder"
**Current behavior**

`npm run styleguide:build` generates the `styleguide` folder, but also creates some files in the `dist` folder.

**To reproduce**

1. Create a new project with vue-cli: `vue create styleguide-repro && cd styleguide-repro && vue add styleguidist`
1. Generate the styleguide: `npm run styleguide:build`
1. See that `dist/favicons/favicon.ico` has been created

**Expected behavior

[2019-10-29 14:49] elevatebart commented on #615
Thank you @nicooprat would you be interested in investigating what is going on ?

[2019-10-30 02:17] elevatebart opened #616 "Add a progress bar when compiling."
It would be nice to have an idea of the progress of compilation when the style guide is compiling.

I am thinking of using [cli-progress](https://github.com/AndiDittrich/Node.CLI-Progress)

[2019-10-31 13:36] #616 closed

[2019-11-01 23:12] #613 closed

[2019-11-01 23:13] elevatebart commented on #612
I will close this request, feel free to re-open it if you have more questions

[2019-11-01 23:13] #612 closed

[2019-11-01 23:16] #485 closed

[2019-11-03 06:07] damyo opened #623 "Unable to import scss file from .md file"
I created a project with 'vuecli-noplugin'.
Everything else works fine, but when I write a style tag in an .md file and try to import another scss file into it, I get an error.
The resolve path (@) doesn't seem to work exactly.
Here is my setup and code:

[code]

[code]

This error message occurs.
`Refused to apply style from 'http://localhost:6060/@/assets/css/something.scss' because its MIME typ

[2019-11-09 11:20] yellowsunday opened #627 "Destroy Preview Vue component when leaving the page"
**The problem**

Preview examples don't trigger the Vue destroy lifecycle when you navigate away (within the styleguide, e.g. to another component page).

This would be useful for developers to verify that the teardown of the component is working as expected, and sometimes also for user-friendliness to avoid leftover things in the styleguide, e.g.:

- Open modal dialogs or other DOM elements outsi

[2019-11-09 16:14] elevatebart commented on #627
Hello @yellowsunday that is a great idea.

I believe that should be marked as a bug as each component is supposed to live in isolation from one another.

Would you be open to creating a Pull Request?

Thank you again.

[2019-11-11 11:46] yellowsunday commented on #627
Yes, I can try it anyway, maybe later this week.

[2019-11-13 22:54] elevatebart commented on #345
Hello @CalebJTSmith

I have something almost ready for 4.0.0 inspired by the documentation of buefy.
Would you mind having a look and telling me if it fits the need?

https://deploy-preview-628--vue-styleguidist.netlify.com/basic/

[2019-11-15 04:02] #614 closed

[2019-11-15 04:02] #345 closed

[2019-11-15 09:36] victory-v opened #633 "Can't install vue-styleguidist"
**Current behavior**
When I try to install via yarn, I get an error:
[code]
UPD: actually I get errors about different packages every time

Installing vue-cli-plugin-styleguidist the same.

**To reproduce**

`$ yarn add vue-styleguidist`

**Expected behavior**

vue-styleguidist is installed correctly

[2019-11-15 16:00] elevatebart commented on #633
Hello @victory-v

Have you tried running `yarn cache clean`? it might be that your local repo is corrupted.
Are you allowed to share your package.json? This would probably be very useful as well if the first solution does not work.

Then in the root folder of your project you should get a `yarn-error.log` file. If you can, please share it too.

Thank you for your interest in the lib. We will have

[2019-11-18 09:47] victory-v commented on #633
It seems that something was wrong on my side, I didn't really get what happened. `yarn cache clean` didn't work and I had to create a new project in my IDE because I didn't had any time left to struggle with this errors :)
But I got another error when I tried to run styleguide, so I'll create another issue if you don't mind :)

[2019-11-18 09:59] victory-v opened #635 "Get an error '_findFileCaseInsensitive.default.clearCache is not a function'"
**Current behavior**

I get an error in console when I run styleguide with vue-cli-plugin-styleguidist:

[code]

**To reproduce**

- I installed "vue-cli-plugin-styleguidist": "^4.0.1"
- Added some .md files for my vue components.
- Then I run a command `vue-cli-service styleguidist`
- It's running but throws an error in console

**Expected behavior**

Runs correctly

[2019-11-18 09:59] #633 closed

[2019-11-18 12:57] cisen commented on #635
The same problem

[2019-11-18 13:56] cisen opened #636 "Add yarn.lock or package-lock.json to the examples"
**The problem**

Without lock file， the examples can‘t compile successfully.

**Proposed solution**

Add yarn.lock or package-lock.json to the examples

[2019-11-18 15:27] johnwebbcole commented on #635
I tried the same on a new `vue create sgtest` app, and get the same error.

[code]

[2019-11-18 16:01] shuwanghu commented on #635
I have the problem too

[2019-11-18 16:56] elevatebart commented on #635
Thank you all for reporting !!! I am on it.

[2019-11-18 18:18] #635 closed

[2019-11-18 19:30] sagalbot opened #638 "Feature Request: Parse Function Prop Parameters"
**The problem**
First - thank you for this awesome suite of tools. I've been dreaming of generated component docs since I first launched Vue Select. This should save me a ton of time!

My component has a lot of `function` props. Many of them receive quite a few parameters and should return a specific type. Typically, I will document them in this fashion:

[code]

This outputs the following:

[code

[2019-11-19 01:56] shuwanghu opened #639 "TypeError: fileExistsCaseInsensitive is not a function"
![image](https://user-images.githubusercontent.com/32955341/69109443-c0017980-0ab2-11ea-83d7-b3cd5913bc2b.png)

[2019-11-19 07:48] victory-v commented on #639
the same error

[2019-11-19 08:40] LuXDAmore commented on #639
Same problem here

[2019-11-19 10:45] r4fx opened #640 "Extract values into props fields"
I'm not sure if it is a feature request or I can prepare my own code be using the API in right way...

Currently when `vue-docgen-api` parse component props it doesn't extract values from variables, consts, etc.

For example, in code below prop `size` has a default value, this value is defined in imported const `SIZE_MD`:

[code]

So my question is, is it possible for `vue-docgen-api` to extract s

[2019-11-19 10:47] alex-belyaev commented on #639
same here

[2019-11-19 13:50] elevatebart commented on #639
could you guys tell me if it fixed it for you ?

[2019-11-19 13:51] elevatebart commented on #639
So sorry for the snafu Babel and typescript are not playing nice with me.
In other words I thought I got clever and failed.

[2019-11-19 13:55] victory-v commented on #639
@elevatebart Unfortunately, I still have this error

[2019-11-19 13:56] elevatebart commented on #638
Hello @sagalbot that is a great idea.
Would you be open to open a pull request to illustrate it?
I believe you would need to create an extra script handler.

Once you have the data, what do you wish to do with it.
I would not know how to display it.

[2019-11-19 13:57] elevatebart commented on #639
sorry @victory-v still need to wait for delivery woops again

[2019-11-19 13:58] elevatebart commented on #639
follow delivery process [here](https://travis-ci.com/vue-styleguidist/vue-styleguidist/builds/137197875)

[2019-11-19 14:00] elevatebart commented on #639
@victory-v should be good now ;-)

[2019-11-19 14:12] victory-v commented on #639
@elevatebart yes, finally it works! Thanks for your work and quick fixes!

[2019-11-19 14:20] #639 closed

[2019-11-20 00:15] elevatebart commented on #638
I should really have unit tested this...

[code]

https://github.com/vue-styleguidist/vue-styleguidist/blob/a9e881f8b87f87c82c61b224641df03c44e2d0ef/packages/vue-docgen-api/src/main.ts#L60-L62

[2019-11-20 00:22] elevatebart commented on #638
Because I wanted to avoid breaking changes, I had to keep everything as generic as possible.
I need to document it but the option will not work unless you give it a JSX option.

Can you try with `jsx: false`?

[2019-11-20 00:24] elevatebart commented on #638
[code]

[2019-11-20 01:11] elevatebart commented on #636
Hello @cisen, I chose to not use a `yarn.lock` in those examples because it was very hard to maintain.

The dependencies are not perfectly stable but that should not pose any problems when you `npm install`.

Can you please specify which example does not compile succesfully?

[2019-11-20 01:27] cisen commented on #636
Updating vue-styleguidist to version 4.0.4，those examples are compiled successfully.Thanks!

[2019-11-20 01:28] #636 closed

[2019-11-20 01:40] elevatebart commented on #623
Hello @damyo,

Unfortunately, styleguidist only supports pure javascript, JSX and pure CSS in the examples.
This allows for removing the need for a server running in the back end while compiling the events.

The scss you are trying to use here is loaded s pure css in a style tag which throws the error that you see.

If you want to load the same SCSS file globally, there is a [require option](https

[2019-11-20 11:41] victory-v opened #648 "Can't setup vuex store"
Hi, I need help. I have a typescript project with vue-styleguidist and I can't get how can I make my store work. I did everything according to your example with the only difference this it is with typescript.

This is my styleguide.config.js:
[code]
my styleguide.root.ts:
[code]
Here "store" is store.ts file.
i18n and router are working fine. But not the store.
When I run vue-styleguidist, I get e

[2019-11-20 16:49] elevatebart commented on #648
Hello @victory-v

I have never tried this configuration before.
Would you mind creating a quick almost empty repo with it?

I will fork it and see what is going wrong.
It might still be a bug ;)

Thank you in advance.

[2019-11-20 17:51] elevatebart commented on #648
Here is what I came up with https://github.com/elevatebart/vuecli3-vuex-ts

[2019-11-21 10:53] victory-v commented on #648
Thanks again for your help and your work!
Your example helped me realize that I have some issues somewhere deeper than styleguide configuration.
I didn't need `Vue.use(Vuex);` in my config but the real problem was in my mutation. There was some silly legacy code inside and after some refactoring it was OK.
So the summary is that the problem was on my side but in the same time the error regarding g

[2019-11-21 10:53] #648 closed

[2019-11-23 14:50] mgesmundo commented on #586
Hello Barthélémy,
I apologize for the long wait: I completed a full-time urgent work for my boss!
Well: for the `@fires` tag I think that it is a good solution.
The `update` event is fired by the documented component (method imported from another file).
Thank you and sorry again!

[2019-11-24 23:50] elevatebart commented on #586
I was thinking something like this, but it completely misses the arguments passed to the event.

[code]

How would you think we should document arguments?

[code]

I was thinking something like this as an optional additional block. would this be cool?

[2019-11-24 23:51] elevatebart commented on #586
I could as well try digging into function calls but it could be bad for performance.

[2019-11-24 23:55] elevatebart opened #654 "should detect model declaration"
in vuejs 2.2.0, a new proprety was added to the object allowing to explicitly declare which prop was the model. In this case, VSG does not detect it and you still have to add the `@model` tag to it.

https://vuejs.org/v2/api/#model

[2019-11-26 11:49] #39 closed

[2019-11-27 15:18] elevatebart commented on #586
I will need to look at functions as soon as Vue 3 comes in. The composition API is full of functions.

[2019-12-02 12:53] yellowsunday opened #659 "Live code examples are not loading in .md files"
**Current behavior**

When you have an .md file that isn't associated with a Vue component (configured as section 'content' in styleguide.config.js), code examples inside it don't load in the browser - there's a JS error.

This seems to be since at least version 4.0.3 (I couldn't compile earlier) - 3.26.2 is ok.
[code]

**To reproduce**

This is occurring in the 'sections' example:
https://vue-sty

[2019-12-02 13:28] elevatebart commented on #659
Thank you much for investigating.
I'm on it.

[2019-12-02 13:53] elevatebart commented on #659
delivering the fix within an hour

[2019-12-02 13:53] #659 closed

[2019-12-02 14:42] yellowsunday commented on #659
amazing thank you!

[2019-12-02 19:32] usei95 opened #662 "values tag not working with vue-property-decorator"
**Current behavior**

In property description @values tag not working when using with vue-property-decorator.

[code]

![Image of result](https://i.ibb.co/d2Gqk4W/image.png)

[2019-12-03 00:23] elevatebart commented on #627
I believe it is done and delivered ;)

[2019-12-03 00:23] #627 closed

[2019-12-03 00:25] elevatebart commented on #640
This is not an easy task I think. If we want to avoid evaluating the code, looking up the values of constants in separate files could be complicated.

Are you interrested in investigating how to?

[2019-12-03 14:46] #662 closed

[2019-12-04 02:39] Aaron-Pool opened #664 "Handle Multiple Component Definitions Per File"
**The problem**

Often times, particularly in a codebase of Vue written in pure JS, not SFCs, it's not entirely uncommon to have a file that exports a set of small, tightly related components (see [here](https://github.com/evergarden-ui/evergarden/blob/master/packages/evergarden/src/Alert/components.js) for an example). Currently, the docgen-api only supports a single component export per file.

*

[2019-12-04 14:55] elevatebart commented on #664
Hello @Aaron-Pool ,

I had an hour to kill this morning so I decided to look into that and well.
It was too easy not to do it on the spot.

I need to write the documentation but ll the tests are green and we should be able to merge today
Check it out and tell me what you think

[2019-12-04 14:57] Aaron-Pool commented on #664
Haha, thanks @elevatebart , you're the best 🤙